WEBSCRAPING ASSIGNMENT - 2 (using selenium)

Q1: Write a python program to scrape data for ‚ÄúData Analyst‚Äù Job position in ‚ÄúBangalore‚Äù location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter ‚ÄúData Analyst‚Äù in ‚ÄúSkill, Designations, Companies‚Äù field and enter ‚ÄúBangalore‚Äù in ‚Äúenter the location‚Äù field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

1 normal method and 1 method by defining function shown below

In [71]:
#import required libraries, will be useful for all 10 program
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import warnings
warnings.filterwarnings("ignore")

In [72]:
driver = webdriver.Chrome("chromedriver.exe")
driver.get('https://www.naukri.com') #calling webdriver and getting into website
    
desig = driver.find_element_by_class_name("suggestor-input")
desig.send_keys('Data Analyst') #Entering required input in job search field 
loc = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
loc.send_keys('Bangalore') #Input of location data for search
search = driver.find_element_by_xpath("//div[@class='qsbSubmit']")
search.click() #clicking search button

title_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title = [i.text for i in title_tags] #scraping title data by xpath
company_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
comp = [i.text for i in company_tags] #scraping company name data by xpath
experienc_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
exp = [i.text for i in experienc_tags] #scraping experience data by xpath
location_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
loc = [i.text for i in location_tags] #scraping location data by xpath
driver.close() #Closing the web browser after scraping

jobs = pd.DataFrame({'Job-title':title[0:10], 'Company_name':comp[0:10], 'Job-location':loc[0:10], 'Experience_required':exp[0:10]})   
# saving data into a data frame
jobs

,Job-title,Company_name,Job-location,Experience_required
0,Contractual Hiring For Top MNC || Business Dat...,TeamLease,Bangalore/Bengaluru,5-8 Yrs
1,Senior Data Analyst,Optum,Bangalore/Bengaluru,5-10 Yrs
2,Data Analyst - CRM Platform,Artech infosystem,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",1-6 Yrs
3,HCL hiring For Data Analyst,HCL Technologies,"Bangalore/Bengaluru, Pune, Chennai",3-8 Yrs
4,Customer Data Analyst,Oracle,Bangalore/Bengaluru,1-3 Yrs
5,Sr. Data Analyst,Global Indian School Education Services,"Bangalore/Bengaluru, Pune",6-11 Yrs
6,Data Analyst - FinTech,Primo Hiring,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",1-2 Yrs
7,Assistant Manager/Manager - Data Analyst - Ana...,Huquo Consulting Pvt. Ltd,"Bangalore/Bengaluru, Delhi / NCR",6-11 Yrs
8,Python Data Analyst - WFH,hCapital Business Consulting Private Limited,Remote,4-9 Yrs
9,Data Analyst - Decision Science,Jana Small Finance Bank,Bangalore/Bengaluru,3-8 Yrs

In [73]:
# Defining a function for scraping the data
def job_details(url):
    driver = webdriver.Chrome("chromedriver.exe")
    driver.get(url) #calling webdriver and getting into website

    desig = driver.find_element_by_class_name("suggestor-input")
    desig.send_keys('Data Analyst') #Entering required input in job search field 
    loc = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
    loc.send_keys('Bangalore') #Input of location data for search
    search = driver.find_element_by_xpath("//div[@class='qsbSubmit']")
    search.click() #clicking search button

    title_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
    title = [i.text for i in title_tags] #scraping title data by xpath
    company_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
    comp = [i.text for i in company_tags] #scraping company name data by xpath
    experienc_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
    exp = [i.text for i in experienc_tags] #scraping experience data by xpath
    location_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
    loc = [i.text for i in location_tags] #scraping location data by xpath
    driver.close() #Closing the web browser after scraping

    jobs = pd.DataFrame({'Job-title':title[0:10], 'Company_name':comp[0:10], 'Job-location':loc[0:10], 'Experience_required':exp[0:10]})   
    # saving data into a data frame
    return(jobs)

In [74]:
job_details('https://www.naukri.com') #calling the function to scrape data

,Job-title,Company_name,Job-location,Experience_required
0,Contractual Hiring For Top MNC || Business Dat...,TeamLease,Bangalore/Bengaluru,5-8 Yrs
1,Senior Data Analyst,Optum,Bangalore/Bengaluru,5-10 Yrs
2,Data Analyst - CRM Platform,Artech infosystem,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",1-6 Yrs
3,Data Analyst - Python/Artificial Intelligence,iMindYourBusiness,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",0-2 Yrs
4,Data Analyst,Encora,Bangalore/Bengaluru,3-6 Yrs
5,Data Analyst - FinTech,Primo Hiring,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",1-2 Yrs
6,Data Analyst - FinTech,Primo Hiring,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",1-2 Yrs
7,Opportunity_to_work_with_top_MNC - Data Analys...,NIFTEL COMMUNICATIONS PRIVATE LIMITED,Bangalore/Bengaluru,7-12 Yrs
8,Data Analyst,SDNA Global,"Bangalore/Bengaluru, Kolkata, New Delhi, Hyder...",5-10 Yrs
9,Data Analyst - Online / eCommerce,Primo Hiring,"Bangalore/Bengaluru, Kolkata, Mumbai, Chennai,...",3-6 Yrs

Q2: Write a python program to scrape data for ‚ÄúData Scientist‚Äù Job position in ‚ÄúBangalore‚Äù location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter ‚ÄúData Scientist‚Äù in ‚ÄúSkill, Designations, Companies‚Äù field and enter ‚ÄúBangalore‚Äù in ‚Äúenter the location‚Äù field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [75]:
driver = webdriver.Chrome("chromedriver.exe")
driver.get('https://www.naukri.com') #calling webdriver and getting into website
    
desig = driver.find_element_by_class_name("suggestor-input")
desig.send_keys('Data Scientist') #Entering required input in job search field 
loc = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
loc.send_keys('Bangalore') #Input of location data for search
search = driver.find_element_by_xpath("//div[@class='qsbSubmit']")
search.click() #clicking search button

title_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title = [i.text for i in title_tags] #scraping title data by xpath
company_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
comp = [i.text for i in company_tags] #scraping company name data by xpath
experienc_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
exp = [i.text for i in experienc_tags] #scraping experience data by xpath
location_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
loc = [i.text for i in location_tags] #scraping location data by xpath
driver.close() #Closing the web browser after scraping

jobs = pd.DataFrame({'Job-title':title[0:10], 'Company_name':comp[0:10], 'Job-location':loc[0:10], 'Experience_required':exp[0:10]})   
# saving data into a data frame
jobs

,Job-title,Company_name,Job-location,Experience_required
0,Job Opportunity on Data Science_ Python with T...,Tech Mahindra,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",4-9 Yrs
1,Assistant Manager - Data Science,CitiusTech,"Bangalore/Bengaluru, Mumbai, Pune",5-9 Yrs
2,Analystics & Modeling Specialist,Accenture,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",6-8 Yrs
3,Hiring For DATA Scientist @ NTT DATA Business ...,NTT DATA Business Solutions Private Limited,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",4-9 Yrs
4,Senior Data Scientist,LIGHTHOUSE SEARCH (OPC) PRIVATE LIMITED,"Bangalore/Bengaluru, Mumbai (All Areas)",2-7 Yrs
5,Data Science/ ML freshers,CliqHR Recruitment Services,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",0-1 Yrs
6,Data Scientist/AIML Engineer,upGrad,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",0-2 Yrs
7,ACN - Applied Intelligence - C4DI - Sustainabi...,Accenture,Bangalore/Bengaluru,4-6 Yrs
8,Hiring Data Science Intern - DataTrained Educa...,DataTrained,"Bangalore/Bengaluru, Noida, Kolkata, Hyderabad...",0-2 Yrs
9,Data Scientist - Engine Algorithm,Primo Hiring,"Bangalore/Bengaluru, Kolkata, Mumbai, Visakhap...",1-3 Yrs

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for ‚ÄúData Scientist‚Äù designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required. The location filter to be used is ‚ÄúDelhi/NCR‚Äù. The salary filter to be used is ‚Äú3-6‚Äù lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter ‚ÄúData Scientist‚Äù in ‚ÄúSkill, Designations, and Companies‚Äù field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

In [77]:
driver = webdriver.Chrome("chromedriver.exe")
driver.get('https://www.naukri.com') #calling webdriver and getting into website
    
desig = driver.find_element_by_class_name("suggestor-input")
desig.send_keys('Data Scientist') #Entering required input in job search field 
search = driver.find_element_by_xpath("//div[@class='qsbSubmit']")
search.click() #clicking search button

for i in range(5): #applying location filter "Delhi/NCR"
    try:
        box = driver.find_element_by_xpath("/html/body/div[1]/div[4]/div/section[1]/div[2]/div[5]/div[2]/div[3]/label/i")
        driver.execute_script("arguments[0].click();", box)
    except NoSuchElementException as e:
        time.sleep(1)
        
for i in range(5): #applying salary filter "3-6 lakhs"
    try:
        box = driver.find_element_by_xpath("/html/body/div[1]/div[4]/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/i")
        driver.execute_script("arguments[0].click();", box)
    except NoSuchElementException as e:
        time.sleep(1)

title_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title = [i.text for i in title_tags] #scraping title data by xpath
company_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
comp = [i.text for i in company_tags] #scraping company name data by xpath
experienc_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
exp = [i.text for i in experienc_tags] #scraping experience data by xpath
location_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
loc = [i.text for i in location_tags] #scraping location data by xpath
driver.close() #Closing the web browser after scraping

jobs = pd.DataFrame({'Job-title':title[0:10], 'Company_name':comp[0:10], 'Job-location':loc[0:10], 'Experience_required':exp[0:10]})   
# saving data into a data frame
jobs

,Job-title,Company_name,Job-location,Experience_required
0,Data Scientist,GlobalLogic,"Noida, Nagpur, Bangalore/Bengaluru",8-10 Yrs
1,DigitalBCG GAMMA Data Scientist,Boston Consulting Group,"New Delhi, Bangalore/Bengaluru",2-5 Yrs
2,Data Scientist,Optum,Gurgaon/Gurugram,2-7 Yrs
3,Data Scientist / Chat-bot Developer,Big Seo Buzz,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar...",3-7 Yrs
4,Lead Data Scientist,R Systems International,Noida(Sector-59 Noida),7-10 Yrs
5,Data Scientist - Predictive Analytics,Confidential,"Noida, Mumbai, Chandigarh, Hyderabad/Secundera...",1-6 Yrs
6,Data Scientist,Avantive Solutions,Noida,7-10 Yrs
7,Knowledge/Data Scientist,BOLD Technology Systems,Delhi / NCR,3-6 Yrs
8,Data Scientist,Feedback Infra,Gurgaon/Gurugram,2-4 Yrs
9,Data Scientist,4i Odc,Noida,2-4 Yrs

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price

To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter ‚Äúsunglasses‚Äù in the search field where ‚Äúsearch for products, brands andmore‚Äù is written and click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this pageyou can scrap the required data as usual.
4. After scraping data from the first page, go to the ‚ÄúNext‚Äù Button at the bottom ofthe page , then click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.

In [78]:
driver = webdriver.Chrome("chromedriver.exe")
driver.get('https://www.flipkart.com') #calling webdriver and getting into website  
driver.find_element_by_xpath('//button[@class="_2KpZ6l _2doB4z"]').click() #closing login pop-up
driver.find_element_by_xpath("//input[@name='q']").send_keys('sunglasses') #Entering required input in product search field
driver.find_element_by_xpath("//button[@class='L0Z3Pu']").click() #clicking search button
time.sleep(3)
Brand = []
Product = []
Price = []
start = 0
end = 3
for page in range(start, end): #Scraping multiple pages data
    brand = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    brand = [i.text for i in brand] # Scraping of brand data
    prod = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    product = [i.text for i in prod] # Scraping of product name data
    price = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    price = [i.text for i in price] # Scraping of product price data
    
    Brand.extend(brand) #Updating brand data scraped from current page to a list
    Product.extend(product) #Updating product data scraped from current page to a list
    Price.extend(price) #Updating price data scraped from current page to a list
    
    next_button = driver.find_element(By.XPATH, "//*[text()='Next']") #Navigating to next page
    next_button.click()
    time.sleep(3) 
driver.close() #Closing the web browser after scraping
Data = pd.DataFrame({'Brand':Brand[0:100], 'Product':Product[0:100], 'Price':Price[0:100]}) #Saving scraped data into a dataframe
Data

             Brand                                            Product   Price
0         Fastrack      UV Protection Wayfarer Sunglasses (Free Size)    ‚Çπ799
1    VINCENT CHASE  by Lenskart Polarized, UV Protection Retro Squ...    ‚Çπ901
2   ROZZETTA CRAFT  UV Protection Retro Square Sunglasses (Free Size)    ‚Çπ449
3           AISLIN  UV Protection, Gradient Butterfly, Retro Squar...    ‚Çπ443
4   ROZZETTA CRAFT  UV Protection, Gradient Rectangular Sunglasses...    ‚Çπ319
..             ...                                                ...     ...
95       ROYAL SON  UV Protection, Riding Glasses, Mirrored Wayfar...    ‚Çπ599
96  kingsunglasses                   Mirrored Aviator Sunglasses (55)    ‚Çπ213
97       ROYAL SON       UV Protection Aviator Sunglasses (Free Size)    ‚Çπ339
98        Fastrack  by Lenskart Polarized, UV Protection Cat-eye S...    ‚Çπ669
99   VINCENT CHASE  Polarized, UV Protection, Gradient, Riding Gla...  ‚Çπ1,049

[100 rows x 3 columns]

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-power- adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC TSVZAXUHGREPBFGI&marketplace.
As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.

In [83]:
driver = webdriver.Chrome("chromedriver.exe")
driver.get('https://www.flipkart.com') #calling webdriver and getting into website
driver.find_element_by_xpath('//button[@class="_2KpZ6l _2doB4z"]').click() #closing login pop-up
driver.find_element_by_xpath("//input[@name='q']").send_keys('iphone 11') #Entering required input in product search field
driver.find_element_by_xpath("//button[@class='L0Z3Pu']").click() #clicking search button
time.sleep(3)
driver.find_element_by_xpath("//a[@class='_1fQZEK']").click() #Clicking on phone or product to check review

p = driver.current_window_handle #get first child window
chwd = driver.window_handles
for w in chwd: #switch focus to child window
    if(w!=p):
        driver.switch_to.window(w)
time.sleep(3)        
driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']").click() #Clicking show all reviews
time.sleep(3)
Rating = []
Review = []
Review_full = []
start = 0
end = 11
for page in range(start, end): #Scraping multiple pages data
    rating_tags = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    rating = [i.text for i in rating_tags] # Scraping of rating data
    review_tags = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    review = [i.text for i in review_tags] # Scraping of product review data
    review_full_tags = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    review_full = [i.text for i in review_full_tags] # Scraping of product full review data 
    Rating.extend(rating) #Updating rating data scraped from current page to a list
    Review.extend(review) #Updating product review scraped from current page to a list
    Review_full.extend(review_full) #Updating full review data scraped from current page to a list
    try: #Moving to next page
        next_button = driver.find_element(By.XPATH, "//*[text()='Next']")
        next_button.click()
    except NoSuchElementException as e:
        time.sleep(1)
    time.sleep(4) 
driver.close() #Closing the web browser after scraping
Data = pd.DataFrame({'Rating':Rating[0:100], 'Review':Review[0:100], 'Full review':Review_full[0:100]}) #Saving scraped data into a dataframe
Data

,Rating,Review,Full review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Highly recommended,What a camera .....just awesome ..you can feel...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Awesome,Very excited to have this phone. This phone ha...
96,5,Mind-blowing purchase,Excellent camera üì∏ And Display touching very N...
97,5,Terrific purchase,Its Very awesome product working and good came...
98,5,Classy product,Best and amazing product.....phone looks so pr...
99,5,Brilliant,Excellent camera and display touching very nic...

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for ‚Äúsneakers‚Äù in the search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price

In [84]:
driver = webdriver.Chrome("chromedriver.exe")
driver.get('https://www.flipkart.com') #calling webdriver and getting into website  
driver.find_element_by_xpath('//button[@class="_2KpZ6l _2doB4z"]').click() #closing login pop-up
driver.find_element_by_xpath("//input[@name='q']").send_keys('sneakers') #Entering required input in product search field
driver.find_element_by_xpath("//button[@class='L0Z3Pu']").click() #clicking search button
time.sleep(3)
Brand = []
Product = []
Discount = []
Price = []
start = 0
end = 3
for page in range(start, end): #Scraping multiple pages data
    brand = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    brand = [i.text for i in brand] # Scraping of brand data
    product = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    product = [i.text for i in product] # Scraping of product name data
    price = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    price = [i.text for i in price] # Scraping of product price data
    discount = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
    discount = [i.text for i in discount] # Scraping of discount or offer data
    
    Brand.extend(brand) #Updating brand data scraped from current page to a list
    Product.extend(product) #Updating product data scraped from current page to a list
    Price.extend(price) #Updating price data scraped from current page to a list
    Discount.extend(discount)
    
    next_button = driver.find_element(By.XPATH, "//*[text()='Next']") #Navigating to next page
    next_button.click()
    time.sleep(3) 
driver.close() #Closing the web browser after scraping
Data = pd.DataFrame({'Brand':Brand[0:100], 'Product':Product[0:100], 'Price':Price[0:100],'Discount':Discount[0:100]}) #Saving scraped data into a dataframe
Data

,Brand,Product,Price,Discount
0,SFR,CAMP DENVER Sneakers For Men,‚Çπ653,67% off
1,CAMPUS,Sneakers For Men,"‚Çπ1,849",7% off
2,Labbin,supr Sneakers For Men,‚Çπ396,60% off
3,Magnolia,"Breathable, Walking, Running, Casual, Gym Shoe...",‚Çπ199,80% off
4,Layasa,Sneakers For Men,‚Çπ379,62% off
...,...,...,...,...
95,U.S. POLO ASSN.,Kwik FIT casual sneaker shoes and partywear sh...,‚Çπ215,24% off
96,Airland,Stylish & Trending Outdoor Walking Comfortable...,‚Çπ645,60% off
97,Sparx,Sneakers For Men,‚Çπ394,55% off
98,Layasa,SOLFER PLUS Sneakers For Men,"‚Çπ1,789",82% off
99,ADIDAS,Sneakers For Men,‚Çπ359,66% off

Q7: Go to the link - https://www.myntra.com/shoes

Set second Price filter and Color filter to ‚ÄúBlack‚Äù, as shown in the below image.

And then scrape First 100 shoes data you get. The data should include ‚ÄúBrand‚Äù of the shoes , Short Shoe description, price of the shoe as shown in the below image

In [85]:
driver = webdriver.Chrome("chromedriver.exe")
driver.get('https://www.myntra.com/shoes') #calling webdriver and getting into website  
time.sleep(2)
for i in range(5): #Set Price filter to second one
    try:
        box1 = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/input')
        driver.execute_script("arguments[0].click();", box1)
    except NoSuchElementException as e:
        time.sleep(1)
time.sleep(2)        
for i in range(5): #Set Price Color filter to ‚ÄúBlack‚Äù
    try:
        box2 = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
        driver.execute_script("arguments[0].click();", box2)
    except NoSuchElementException as e:
        time.sleep(1)
time.sleep(2)

Brand = []
Product = []
Price = []
start = 0
end = 2
for page in range(start, end): #Scraping multiple pages data
    brand = driver.find_elements_by_xpath("//h3[@class='product-brand']")
    brand = [i.text for i in brand] # Scraping of brand data
    prod = driver.find_elements_by_xpath("//h4[@class='product-product']")
    product = [i.text for i in prod] # Scraping of product name data
    price = driver.find_elements_by_xpath("//div[@class='product-price']")
    price = [i.text for i in price] # Scraping of product price data
    
    Brand.extend(brand) #Updating brand data scraped from current page to a list
    Product.extend(product) #Updating product data scraped from current page to a list
    Price.extend(price) #Updating price data scraped from current page to a list
    
    driver.find_element_by_xpath('//li[@class="pagination-next"]').click() #Navigate to next page
    time.sleep(3) 
driver.close() #Closing the web browser after scraping
Data = pd.DataFrame({'Brand':Brand[0:100], 'Product':Product[0:100], 'Price':Price[0:100]}) #Saving scraped data into a dataframe
Data

,Brand,Product,Price
0,Nike,Men ZOOM WINFLO8 Running Shoes,Rs. 7880Rs. 8295(5% OFF)
1,Skechers,Men Sports Shoes,Rs. 8499
2,ADIDAS Originals,Men Niteball II Sneakers,Rs. 9349Rs. 10999(15% OFF)
3,Nike,Men React Infinity 3 Running,Rs. 13295Rs. 13995(5% OFF)
4,ADIDAS Originals,Men Leather Niteball Sneakers,Rs. 10799Rs. 11999(10% OFF)
...,...,...,...
95,ADIDAS,Women Solar Glide 5 Running,Rs. 9799Rs. 13999(30% OFF)
96,ADIDAS,Women SL20.3 Running Shoes,Rs. 7799Rs. 11999(35% OFF)
97,UNDER ARMOUR,W omen TriBase Reign 4 Running,Rs. 8399Rs. 11999(30% OFF)
98,ADIDAS,Women Adizero Adios 7 Run Shoe,Rs. 9599Rs. 11999(20% OFF)
99,J.FONTINI,Men Textured Leather Loafers,Rs. 7990

Q8: Go to webpage https://www.amazon.in/
Enter ‚ÄúLaptop‚Äù in the search field and then click the search icon.
Then set CPU Type filter to ‚ÄúIntel Core i7‚Äù and ‚ÄúIntel Core i9‚Äù
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price

In [86]:
driver = webdriver.Chrome("chromedriver.exe")
driver.get('https://www.amazon.in/') #calling webdriver and getting into website  
driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input").send_keys('Laptop') #Entering product in search field
driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div").click() #Clicking the search button
time.sleep(2)
driver.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a/span').click() #Filter for i7 category 
time.sleep(2)
title = driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
Title = [i.text for i in title] # Scraping of title data
rating = driver.find_elements_by_xpath("//div[@class='a-row a-size-small']/span[1]")
Rating = [i.get_attribute('aria-label') for i in rating] # Scraping of product rating data
price = driver.find_elements_by_xpath("//span[@class='a-price-whole']")
Price = [i.text for i in price] # Scraping of product price data
driver.close() #Closing the web browser after scraping
Data = pd.DataFrame({'Title':Title[0:10], 'Rating':Rating[0:10], 'Price':Price[0:10]}) #Saving scraped data into a dataframe
Data

,Title,Rating,Price
0,Samsung Galaxy Book2 Intel 12th Gen core i7 39...,3.8 out of 5 stars,"77,990"
1,Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 1...,4.3 out of 5 stars,"82,990"
2,"MSI Modern 14, Intel i7-1195G7, 14"" FHD IPS-Le...",3.5 out of 5 stars,"54,990"
3,Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....,4.3 out of 5 stars,"80,990"
4,"ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...",3.8 out of 5 stars,"59,990"
5,Lenovo Ideapad Gaming 3 Intel Core i7 10th Gen...,3.9 out of 5 stars,"62,990"
6,Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 1...,4.3 out of 5 stars,"82,990"
7,"Dell New G15 5520 Gaming Laptop, Intel i7-1270...",4.6 out of 5 stars,"1,44,600"
8,(Renewed) Lenovo Intel Core i7 5600U 12.5-Inch...,3.6 out of 5 stars,"23,997"
9,(Renewed) HP Elitebook 840G1-i7-8 GB-2 TB 14-i...,4.1 out of 5 stars,"41,690"

Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company. This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
3. After reaching to the next webpage, In place of ‚ÄúSearch by Designations, Companies, Skills‚Äù enter ‚ÄúData Scientist‚Äù and click on search button.
4. You will reach to the following web page click on location and in place of ‚ÄúSearch location‚Äù enter ‚ÄúNoida‚Äù and select location ‚ÄúNoida‚Äù.
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data.

In [87]:
driver = webdriver.Chrome("chromedriver.exe")
driver.get('https://www.ambitionbox.com/') #calling webdriver and getting into website  
time.sleep(10)
driver.find_element_by_xpath("//button[@class='modal__close-button']").click() #Clicking popup close button
driver.find_element_by_xpath("/html/body/div/div/div/div[1]/header/nav/ul/li[5]/a").click() #clicking job button
time.sleep(2)
driver.find_element_by_xpath("//input[@class='input tt-input']").send_keys('Data Scientist') #Input Job role in search field
driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button").click() #clicking search button
time.sleep(2)
driver.find_element_by_xpath("//div[@title='Location']").click() #Clicking on location filter
driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input").send_keys('Noida') 
#Entering required input in location filter
time.sleep(1)
driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label").click() 
#Clicking for search of location
time.sleep(1)
company = driver.find_elements_by_xpath("//p[@class='company body-medium']")
Company = [i.text for i in company] # Scraping of company name data
days = driver.find_elements_by_xpath("//div[@class='job-basic-info show-flex']")
Days = [i.text.split('\n')[0] for i in days] # Scraping of No of days ago job posted data
rating = driver.find_elements_by_xpath("//span[@class='body-small']")
Rating = [i.text for i in rating] # Scraping of company rating data
driver.close() #Closing the web browser after scraping
Data = pd.DataFrame({'Company name':Company[0:10], 'Rating':Rating[0:10], 'No of days ago job posted':Days[0:10]}) #Saving scraped data into a dataframe
Data

,Company name,Rating,No of days ago job posted
0,Optum Global Solutions (India) Private Limited,4.1,2-7 years
1,BARCLAYS GLOBAL SERVICE CENTRE PRIVATE LIMITED,4.3,2-7 Yrs
2,EY GDS,3.8,2-7 Yrs
3,GLOBALLOGIC INDIA PRIVATE LIMITED,4.0,10-20 Yrs
4,GENPACT India Private Limited,4.0,8-10 Yrs
5,Genpact,4.0,7-12 Yrs
6,Ericsson India Global Services Pvt. Ltd.,4.3,6-10 Yrs
7,Dew Solutions Pvt. Ltd.,4.3,4-12 Yrs
8,One97 Communications Limited,3.8,3-8 Yrs
9,EY,3.8,1-2 Yrs

Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary. The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image.
3. After reaching to the following webpage, In place of ‚ÄúSearch Job Profile‚Äù enters ‚ÄúData Scientist‚Äù and then click on ‚ÄúData Scientist‚Äù.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.

In [88]:
driver = webdriver.Chrome("chromedriver.exe")
driver.get('https://www.ambitionbox.com/') #calling webdriver and getting into website  
time.sleep(10)
driver.find_element_by_xpath("//button[@class='modal__close-button']").click() #Clicking popup close button
driver.find_element_by_xpath("/html/body/div/div/div/div[1]/header/nav/ul/li[3]/span").click() #clicking on salaries button
driver.find_element_by_xpath("/html/body/div/div/div/div[1]/header/nav/ul/li[3]/div/ul/li[1]/div/div[2]/p").click() #Sub selection
time.sleep(2)
driver.find_element_by_id("jobProfileSearchbox").send_keys("Data Scientist") #Searching input for job profile
time.sleep(1)
driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div/div/p').click() 
#Selecting suggestion from drop list
time.sleep(1)
Company = []
Record = []
Experience = []
Min_salary = []
Max_salary = []
Avg_salary = []
company = driver.find_elements_by_xpath("//div[@class='company-info']/a")
Company = [i.text.split('\n')[0] for i in company] # Scraping company name data
record = driver.find_elements_by_xpath("//div[@class='sbold-list-header']")
Record = [i.text.split('experience ')[1].replace('(','').replace(')','') for i in record] #Scraping ata of no of salaries recorded
Experience = [i.text.split('experience ')[0] for i in record] #Scraping experience data
salary = driver.find_elements_by_xpath("//div[@class='salary-values']")
Min_salary = [i.text.split('\n')[0] for i in salary] # Scraping min salary data
Max_salary = [i.text.split('\n')[1] for i in salary] # Scraping max salary data
avg = driver.find_elements_by_xpath("//p[@class='averageCtc']")
Avg_salary = [i.text for i in avg] # Scraping min salary data
driver.close() #Closing the web browser after scraping
Data = pd.DataFrame({'Company':Company, 'No. of salaries recorded':Record, 'Work experience':Experience, 'Average salary':Avg_salary, 'Minimum salary':Min_salary, 'Maximum salary':Max_salary})
#saving data as dataframe
Data

,Company,No. of salaries recorded,Work experience,Average salary,Minimum salary,Maximum salary
0,Walmart,based on 23 salaries,3-4 yrs,‚Çπ 32.3L,‚Çπ 25.0L,‚Çπ 45.0L
1,Ab Inbev,based on 57 salaries,2-4 yrs,‚Çπ 19.9L,‚Çπ 15.0L,‚Çπ 26.0L
2,Optum,based on 49 salaries,2-4 yrs,‚Çπ 16.4L,‚Çπ 11.0L,‚Çπ 22.6L
3,ZS,based on 34 salaries,1-2 yrs,‚Çπ 15.8L,‚Çπ 11.0L,‚Çπ 22.0L
4,Fractal Analytics,based on 115 salaries,2-4 yrs,‚Çπ 15.4L,‚Çπ 9.0L,‚Çπ 23.0L
5,Tiger Analytics,based on 68 salaries,2-4 yrs,‚Çπ 14.7L,‚Çπ 9.0L,‚Çπ 20.0L
6,Sigmoid Analytics,based on 10 salaries,1 yr,‚Çπ 14.7L,‚Çπ 12.7L,‚Çπ 19.7L
7,Legato Health Technologies,based on 11 salaries,4 yrs,‚Çπ 14.5L,‚Çπ 11.0L,‚Çπ 20.0L
8,HSBC,based on 10 salaries,4 yrs,‚Çπ 14.0L,‚Çπ 12.0L,‚Çπ 18.0L
9,Tredence,based on 14 salaries,3 yrs,‚Çπ 13.9L,‚Çπ 8.8L,‚Çπ 17.5L