WEBSCRAPING ASSIGNMENT - 2 (using selenium)

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

1 normal method and 1 method by defining function shown below

In [17]:
#import required libraries, will be useful for all 10 program
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import warnings
warnings.filterwarnings("ignore")

In [16]:
driver = webdriver.Chrome("chromedriver.exe")
driver.get('https://www.naukri.com') #calling webdriver and getting into website
    
desig = driver.find_element_by_class_name("suggestor-input")
desig.send_keys('Data Analyst') #Entering required input in job search field 
loc = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
loc.send_keys('Bangalore') #Input of location data for search
search = driver.find_element_by_xpath("//div[@class='qsbSubmit']")
search.click() #clicking search button

title_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title = [i.text for i in title_tags] #scraping title data by xpath
company_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
comp = [i.text for i in company_tags] #scraping company name data by xpath
experienc_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
exp = [i.text for i in experienc_tags] #scraping experience data by xpath
location_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
loc = [i.text for i in location_tags] #scraping location data by xpath
driver.close() #Closing the web browser after scraping

jobs = pd.DataFrame({'Job-title':title[0:10], 'Company_name':comp[0:10], 'Job-location':loc[0:10], 'Experience_required':exp[0:10]})   
# saving data into a data frame
jobs

,Job-title,Company_name,Job-location,Experience_required
0,Contractual Hiring For Top MNC || Business Dat...,TeamLease,Bangalore/Bengaluru,5-8 Yrs
1,Senior Data Analyst,Optum,Bangalore/Bengaluru,5-10 Yrs
2,Data Analyst - CRM Platform,Artech infosystem,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",1-6 Yrs
3,HCL hiring For Data Analyst,HCL Technologies,"Bangalore/Bengaluru, Pune, Chennai",3-8 Yrs
4,Customer Data Analyst,Oracle,Bangalore/Bengaluru,1-3 Yrs
5,Sr. Data Analyst,Global Indian School Education Services,"Bangalore/Bengaluru, Pune",6-11 Yrs
6,Data Analyst - FinTech,Primo Hiring,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",1-2 Yrs
7,Assistant Manager/Manager - Data Analyst - Ana...,Huquo Consulting Pvt. Ltd,"Bangalore/Bengaluru, Delhi / NCR",6-11 Yrs
8,Python Data Analyst - WFH,hCapital Business Consulting Private Limited,Remote,4-9 Yrs
9,Data Analyst - Decision Science,Jana Small Finance Bank,Bangalore/Bengaluru,3-8 Yrs

In [20]:
# Defining a function for scraping the data
def job_details(url):
    driver = webdriver.Chrome("chromedriver.exe")
    driver.get(url) #calling webdriver and getting into website

    desig = driver.find_element_by_class_name("suggestor-input")
    desig.send_keys('Data Analyst') #Entering required input in job search field 
    loc = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
    loc.send_keys('Bangalore') #Input of location data for search
    search = driver.find_element_by_xpath("//div[@class='qsbSubmit']")
    search.click() #clicking search button

    title_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
    title = [i.text for i in title_tags] #scraping title data by xpath
    company_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
    comp = [i.text for i in company_tags] #scraping company name data by xpath
    experienc_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
    exp = [i.text for i in experienc_tags] #scraping experience data by xpath
    location_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
    loc = [i.text for i in location_tags] #scraping location data by xpath
    driver.close() #Closing the web browser after scraping

    jobs = pd.DataFrame({'Job-title':title[0:10], 'Company_name':comp[0:10], 'Job-location':loc[0:10], 'Experience_required':exp[0:10]})   
    # saving data into a data frame
    return(jobs)

In [21]:
job_details('https://www.naukri.com') #calling the function to scrape data

,Job-title,Company_name,Job-location,Experience_required
0,Contractual Hiring For Top MNC || Business Dat...,TeamLease,Bangalore/Bengaluru,5-8 Yrs
1,Senior Data Analyst,Optum,Bangalore/Bengaluru,5-10 Yrs
2,Data Analyst - CRM Platform,Artech infosystem,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",1-6 Yrs
3,HCL hiring For Data Analyst,HCL Technologies,"Bangalore/Bengaluru, Pune, Chennai",3-8 Yrs
4,Customer Data Analyst,Oracle,Bangalore/Bengaluru,1-3 Yrs
5,Sr. Data Analyst,Global Indian School Education Services,"Bangalore/Bengaluru, Pune",6-11 Yrs
6,Data Analyst - FinTech,Primo Hiring,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",1-2 Yrs
7,Assistant Manager/Manager - Data Analyst - Ana...,Huquo Consulting Pvt. Ltd,"Bangalore/Bengaluru, Delhi / NCR",6-11 Yrs
8,Python Data Analyst - WFH,hCapital Business Consulting Private Limited,Remote,4-9 Yrs
9,Data Analyst - Decision Science,Jana Small Finance Bank,Bangalore/Bengaluru,3-8 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [22]:
driver = webdriver.Chrome("chromedriver.exe")
driver.get('https://www.naukri.com') #calling webdriver and getting into website
    
desig = driver.find_element_by_class_name("suggestor-input")
desig.send_keys('Data Scientist') #Entering required input in job search field 
loc = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
loc.send_keys('Bangalore') #Input of location data for search
search = driver.find_element_by_xpath("//div[@class='qsbSubmit']")
search.click() #clicking search button

title_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title = [i.text for i in title_tags] #scraping title data by xpath
company_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
comp = [i.text for i in company_tags] #scraping company name data by xpath
experienc_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
exp = [i.text for i in experienc_tags] #scraping experience data by xpath
location_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
loc = [i.text for i in location_tags] #scraping location data by xpath
driver.close() #Closing the web browser after scraping

jobs = pd.DataFrame({'Job-title':title[0:10], 'Company_name':comp[0:10], 'Job-location':loc[0:10], 'Experience_required':exp[0:10]})   
# saving data into a data frame
jobs

,Job-title,Company_name,Job-location,Experience_required
0,Job Opportunity on Data Science_ Python with T...,Tech Mahindra,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",4-9 Yrs
1,Assistant Manager - Data Science,CitiusTech,"Bangalore/Bengaluru, Mumbai, Pune",5-9 Yrs
2,Analystics & Modeling Specialist,Accenture,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",6-8 Yrs
3,Hiring For DATA Scientist @ NTT DATA Business ...,NTT DATA Business Solutions Private Limited,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",4-9 Yrs
4,Data Scientist/AIML Engineer,upGrad,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",0-2 Yrs
5,ACN - Applied Intelligence - C4DI - Sustainabi...,Accenture,Bangalore/Bengaluru,4-6 Yrs
6,Hiring Data Science Intern - DataTrained Educa...,DataTrained,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",0-2 Yrs
7,Lead ML Scientist,Fractal Analytics,"Bangalore/Bengaluru, Mumbai",6-10 Yrs
8,Tcs Hiring For Data Scientist,TATA CONSULTANCY SERVICES (TCS),"Bangalore/Bengaluru, Chennai, Mumbai (All Areas)",3-8 Yrs
9,Data Scientist - II,SMARTPADDLE TECHNOLOGY PVT. LTD.,"Bangalore/Bengaluru, India, Mumbai (All Areas)",3-6 Yrs

In [ ]:
job_details('https://www.naukri.com')
#calling the function to scrape data

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required. The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

In [40]:
driver = webdriver.Chrome("chromedriver.exe")
driver.get('https://www.naukri.com') #calling webdriver and getting into website
    
desig = driver.find_element_by_class_name("suggestor-input")
desig.send_keys('Data Scientist') #Entering required input in job search field 
search = driver.find_element_by_xpath("//div[@class='qsbSubmit']")
search.click() #clicking search button

for i in range(5): #applying location filter "Delhi/NCR"
    try:
        box = driver.find_element_by_xpath("/html/body/div[1]/div[4]/div/section[1]/div[2]/div[5]/div[2]/div[3]/label/i")
        driver.execute_script("arguments[0].click();", box)
    except NoSuchElementException as e:
        time.sleep(1)
        
for i in range(5): #applying salary filter "3-6 lakhs"
    try:
        box = driver.find_element_by_xpath("/html/body/div[1]/div[4]/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/i")
        driver.execute_script("arguments[0].click();", box)
    except NoSuchElementException as e:
        time.sleep(1)

title_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title = [i.text for i in title_tags] #scraping title data by xpath
company_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
comp = [i.text for i in company_tags] #scraping company name data by xpath
experienc_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
exp = [i.text for i in experienc_tags] #scraping experience data by xpath
location_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
loc = [i.text for i in location_tags] #scraping location data by xpath
driver.close() #Closing the web browser after scraping

jobs = pd.DataFrame({'Job-title':title[0:10], 'Company_name':comp[0:10], 'Job-location':loc[0:10], 'Experience_required':exp[0:10]})   
# saving data into a data frame
jobs

,Job-title,Company_name,Job-location,Experience_required
0,Data Scientist,GlobalLogic,"Noida, Nagpur, Bangalore/Bengaluru",8-10 Yrs
1,DigitalBCG GAMMA Data Scientist,Boston Consulting Group,"New Delhi, Bangalore/Bengaluru",2-5 Yrs
2,Data Scientist,Optum,Gurgaon/Gurugram,2-7 Yrs
3,Data Scientist / Chat-bot Developer,Big Seo Buzz,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar...",3-7 Yrs
4,Lead Data Scientist,R Systems International,Noida(Sector-59 Noida),7-10 Yrs
5,Data Scientist - Predictive Analytics,Confidential,"Noida, Mumbai, Chandigarh, Hyderabad/Secundera...",1-6 Yrs
6,Knowledge/Data Scientist,BOLD Technology Systems,Delhi / NCR,3-6 Yrs
7,Data Scientist,Feedback Infra,Gurgaon/Gurugram,2-4 Yrs
8,Data Scientist,4i Odc,Noida,2-4 Yrs
9,"Data Scientist, Associate",NatWest Group,Delhi / NCR,2-7 Yrs

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price

To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands andmore” is written and click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this pageyou can scrap the required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom ofthe page , then click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.

In [127]:
driver = webdriver.Chrome("chromedriver.exe")
driver.get('https://www.flipkart.com') #calling webdriver and getting into website  
driver.find_element_by_xpath('//button[@class="_2KpZ6l _2doB4z"]').click() #closing login pop-up
driver.find_element_by_xpath("//input[@name='q']").send_keys('sunglasses') #Entering required input in product search field
driver.find_element_by_xpath("//button[@class='L0Z3Pu']").click() #clicking search button
time.sleep(3)
Brand = []
Product = []
Price = []
start = 0
end = 3
for page in range(start, end): #Scraping multiple pages data
    brand = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    brand = [i.text for i in brand] # Scraping of brand data
    prod = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    product = [i.text for i in prod] # Scraping of product name data
    price = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    price = [i.text for i in price] # Scraping of product price data
    
    Brand.extend(brand) #Updating brand data scraped from current page to a list
    Product.extend(product) #Updating product data scraped from current page to a list
    Price.extend(price) #Updating price data scraped from current page to a list
    
    next_button = driver.find_element(By.XPATH, "//*[text()='Next']") #Navigating to next page
    next_button.click()
    time.sleep(3) 
Data = pd.DataFrame({'Brand':Brand[0:100], 'Product':Product[0:100], 'Price':Price[0:100]}) #Saving scraped data into a dataframe
Data

             Brand                                            Product   Price
0   ROZZETTA CRAFT       UV Protection Cat-eye Sunglasses (Free Size)    ₹359
1    VINCENT CHASE     Polarized, UV Protection Round Sunglasses (51)  ₹1,128
2         Fastrack      UV Protection Wayfarer Sunglasses (Free Size)    ₹799
3    VINCENT CHASE  by Lenskart Polarized, UV Protection Retro Squ...    ₹901
4   ROZZETTA CRAFT  UV Protection Retro Square Sunglasses (Free Size)    ₹449
..             ...                                                ...     ...
95   VINCENT CHASE             UV Protection Wayfarer Sunglasses (50)  ₹1,049
96            SRPM  Polarized, UV Protection Wayfarer Sunglasses (61)    ₹197
97       ROYAL SON  UV Protection, Gradient Butterfly, Over-sized ...    ₹559
98          AISLIN  by Lenskart Polarized, UV Protection Wayfarer ...    ₹576
99   VINCENT CHASE  UV Protection, Gradient Retro Square Sunglasse...  ₹1,049

[100 rows x 3 columns]

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-power- adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC TSVZAXUHGREPBFGI&marketplace.
As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.

In [124]:
driver = webdriver.Chrome("chromedriver.exe")
driver.get('https://www.flipkart.com') #calling webdriver and getting into website
driver.find_element_by_xpath('//button[@class="_2KpZ6l _2doB4z"]').click() #closing login pop-up
driver.find_element_by_xpath("//input[@name='q']").send_keys('iphone 11') #Entering required input in product search field
driver.find_element_by_xpath("//button[@class='L0Z3Pu']").click() #clicking search button
time.sleep(3)
driver.find_element_by_xpath("//a[@class='_1fQZEK']").click() #Clicking on phone or product to check review

p = driver.current_window_handle #get first child window
chwd = driver.window_handles
for w in chwd: #switch focus to child window
    if(w!=p):
        driver.switch_to.window(w)
        
driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']").click() #Clicking show all reviews
time.sleep(3)
Rating = []
Review = []
Review_full = []
start = 0
end = 11
for page in range(start, end): #Scraping multiple pages data
    rating_tags = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    rating = [i.text for i in rating_tags] # Scraping of rating data
    review_tags = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    review = [i.text for i in review_tags] # Scraping of product review data
    review_full_tags = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    review_full = [i.text for i in review_full_tags] # Scraping of product full review data 
    Rating.extend(rating) #Updating rating data scraped from current page to a list
    Review.extend(review) #Updating product review scraped from current page to a list
    Review_full.extend(review_full) #Updating full review data scraped from current page to a list
    try: #Moving to next page
        next_button = driver.find_element(By.XPATH, "//*[text()='Next']")
        next_button.click()
    except NoSuchElementException as e:
        time.sleep(1)
    time.sleep(4) 
Data = pd.DataFrame({'Rating':Rating[0:100], 'Review':Review[0:100], 'Full review':Review_full[0:100]}) #Saving scraped data into a dataframe
Data

,Rating,Review,Full review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Highly recommended,What a camera .....just awesome ..you can feel...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Worth every penny,It is better to buy iPhone 11 over iPhone 12 i...
96,5,Excellent,It was amazing experience for me. Honestly i a...
97,5,Terrific,"I bought iPhone 11 On March 2021, And I am Wri..."
98,5,Excellent,Just go for it.\nThis phone is really amazing....
99,5,Super!,This is my first ever iPhone.\nAnd I truly don...

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price

In [141]:
driver = webdriver.Chrome("chromedriver.exe")
driver.get('https://www.flipkart.com') #calling webdriver and getting into website  
driver.find_element_by_xpath('//button[@class="_2KpZ6l _2doB4z"]').click() #closing login pop-up
driver.find_element_by_xpath("//input[@name='q']").send_keys('sneakers') #Entering required input in product search field
driver.find_element_by_xpath("//button[@class='L0Z3Pu']").click() #clicking search button
time.sleep(3)
Brand = []
Product = []
Discount = []
Price = []
start = 0
end = 3
for page in range(start, end): #Scraping multiple pages data
    brand = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    brand = [i.text for i in brand] # Scraping of brand data
    product = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    product = [i.text for i in product] # Scraping of product name data
    price = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    price = [i.text for i in price] # Scraping of product price data
    discount = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
    discount = [i.text for i in discount] # Scraping of discount or offer data
    
    Brand.extend(brand) #Updating brand data scraped from current page to a list
    Product.extend(product) #Updating product data scraped from current page to a list
    Price.extend(price) #Updating price data scraped from current page to a list
    Discount.extend(discount)
    
    next_button = driver.find_element(By.XPATH, "//*[text()='Next']") #Navigating to next page
    next_button.click()
    time.sleep(3) 
Data = pd.DataFrame({'Brand':Brand[0:100], 'Product':Product[0:100], 'Price':Price[0:100],'Discount':Discount[0:100]}) #Saving scraped data into a dataframe
Data

,Brand,Product,Price,Discount
0,SFR,Combo Pack Of 4 Casual Shoes Loafer Shoes Snea...,₹653,67% off
1,BRUTON,Sneakers For Men,₹499,85% off
2,Labbin,Sneakers For Men,₹499,50% off
3,TR,"Breathable, Walking, Running, Casual, Gym Shoe...",₹295,80% off
4,Shozie,"Casuals, Canvas, Partywear Sneakers For Men",₹379,62% off
...,...,...,...,...
95,RED TAPE,Pacer Fire Sneakers For Men,"₹1,199",75% off
96,PUMA,Men's Fashion Trend Sneakers Sneakers For Men,"₹1,919",45% off
97,Deals4you,Stylish & Trending Outdoor Walking Comfortable...,₹333,66% off
98,Real Bliss,"Casual , Partywear Sneakers Shoes For Men's An...",₹395,60% off
99,RED TAPE,Sneakers For Women,"₹1,099",75% off

Q7: Go to the link - https://www.myntra.com/shoes

Set second Price filter and Color filter to “Black”, as shown in the below image.

And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image

In [137]:
driver = webdriver.Chrome("chromedriver.exe")
driver.get('https://www.myntra.com/shoes') #calling webdriver and getting into website  
time.sleep(2)
for i in range(5): #Set Price filter to second one
    try:
        box1 = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/input')
        driver.execute_script("arguments[0].click();", box1)
    except NoSuchElementException as e:
        time.sleep(1)
time.sleep(2)        
for i in range(5): #Set Price Color filter to “Black”
    try:
        box2 = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
        driver.execute_script("arguments[0].click();", box2)
    except NoSuchElementException as e:
        time.sleep(1)
time.sleep(2)

Brand = []
Product = []
Price = []
start = 0
end = 2
for page in range(start, end): #Scraping multiple pages data
    brand = driver.find_elements_by_xpath("//h3[@class='product-brand']")
    brand = [i.text for i in brand] # Scraping of brand data
    prod = driver.find_elements_by_xpath("//h4[@class='product-product']")
    product = [i.text for i in prod] # Scraping of product name data
    price = driver.find_elements_by_xpath("//div[@class='product-price']")
    price = [i.text for i in price] # Scraping of product price data
    
    Brand.extend(brand) #Updating brand data scraped from current page to a list
    Product.extend(product) #Updating product data scraped from current page to a list
    Price.extend(price) #Updating price data scraped from current page to a list
    
    driver.find_element_by_xpath('//li[@class="pagination-next"]').click() #Navigate to next page
    time.sleep(3) 
Data = pd.DataFrame({'Brand':Brand[0:100], 'Product':Product[0:100], 'Price':Price[0:100]}) #Saving scraped data into a dataframe
Data

,Brand,Product,Price
0,Red Tape,Men Walking Shoes,Rs. 1619Rs. 5399(70% OFF)
1,Puma,Softride Rift Breeze,Rs. 3249Rs. 6499(50% OFF)
2,Eego Italy,Men Trekking Shoes,Rs. 987Rs. 2599(62% OFF)
3,Sparx,Men Running Shoes,Rs. 1077Rs. 1099(2% OFF)
4,Nike,Men Revolution 5 Running Shoes,Rs. 3510Rs. 3695(5% OFF)
...,...,...,...
95,AfroJack,Women Colourblocked Sneakers,Rs. 799Rs. 3995(80% OFF)
96,HRX by Hrithik Roshan,Women Fly Sneakers,Rs. 1504Rs. 4299(65% OFF)
97,HIGHLANDER,Men Woven Design Sneakers,Rs. 658Rs. 1198(45% OFF)
98,ADIDAS,Men Mystere Running Shoes,Rs. 3599Rs. 4799(25% OFF)
99,Puma,Men Running Shoes,Rs. 3299Rs. 5499(40% OFF)

Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9”
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price

In [ ]:
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
#import required libraries

browser = webdriver.Chrome()
browser.get('https://www.amazon.in/')
#calling webdriver and getting into website

product_search = browser.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
product_search.send_keys('Laptop')
#Entering required input in product search field

search = browser.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search.click()
#clicking search button

browser.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a/span').click()
#browser.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/16757432031"]/span/a/span').click() #for i9 category
#While applying i7 and i9 filter it was found that amazn website not allow simultaneous selection of both selections simultaneously

title = []
rating = []
price = []

title_tags = browser.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
for i in title_tags:
    title.append(i.text) 

price_tags = browser.find_elements_by_xpath("//span[@class='a-price-whole']")
for i in price_tags:
    price.append(i.text) 
    
rating_tags = browser.find_elements_by_xpath('//div[@class="a-row a-size-small"]/span[1]')
for i in rating_tags:
    rating.append(i.get_attribute('aria-label'))
#scraping all the required data by xpath route

laptops = pd.DataFrame({'Title':title[0:10], 'Price':price[0:10], 'Rating':rating[0:10]})
#saving data into a data frame
laptops.head()

Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company. This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter “Data Scientist” and click on search button.
4. You will reach to the following web page click on location and in place of “Search location” enter “Noida” and select location “Noida”.
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data.

In [ ]:
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time
from time import sleep
from selenium.webdriver.common.keys import Keys
#import required libraries

browser = webdriver.Chrome()
browser.get('https://www.ambitionbox.com/')
#calling webdriver and getting into website

job = browser.find_element_by_xpath("/html/body/div[1]/nav/nav/a[6]")
job.click()
#clicking job button

search_field = browser.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input")
search_field.send_keys('Data Scientist')
#Entering required input in job search field

search = browser.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button")
search.click()
#clicking search button
time.sleep(2)

browser.find_element_by_xpath("//div[@title='Location']").click()
search_loc = browser.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input")
search_loc.send_keys('Noida')
#Entering required input in location filter
time.sleep(2)

select_loc = browser.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label")
select_loc.click()
#Clicking location

title = []
comp = []
loc = []
exp = []

def Noida_jobs():
#defining a function to scrape data
    title_tags = browser.find_elements_by_xpath("//a[@class='title noclick']")
    for i in title_tags:
        title.append(i.text) 

    company_tags = browser.find_elements_by_xpath("//p[@class='company body-medium']")
    for i in company_tags:
        comp.append(i.text) 

    experienc_tags = browser.find_elements_by_xpath("//p[@class='body-small-l']")
    for i in experienc_tags:
        if ('years') in i.text:
            exp.append(i.text)
        elif ('Yrs') in i.text:
            exp.append(i.text) 
    #scraping all the required data by xpath route
        
    return(pd.DataFrame({'Job-title':title[0:10], 'Company_name':comp[0:10], 'Experience_required':exp[0:10]}))
    # saving data into a data frame

In [ ]:
Noida_jobs()
#calling the function to scrape data

Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary. The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image.
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and then click on “Data Scientist”.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.

In [77]:
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time
from time import sleep
from selenium.webdriver.common.keys import Keys
#import required libraries

browser = webdriver.Chrome()
browser.get('https://www.ambitionbox.com/')
#calling webdriver and getting into website

browser.find_element_by_xpath("/html/body/div[1]/nav/nav/a[4]").click()
#clicking salaries button

browser.find_element_by_id("jobProfileSearchbox").send_keys("Data Scientist")
browser.find_element_by_id("jobProfileSearchbox").click()
#Entering required input in job search field
time.sleep(5)

comp = []
record = []
exp = []
sal = []
mi = []
ma = []
av = []

def Data_scientist():
#defining a function to scrape data
    comp_tags = browser.find_elements_by_xpath("//div[@class='name']/a")
    for i in comp_tags:
        comp.append(i.text) 

    record_tags = browser.find_elements_by_xpath("//div[@class='name']/span")
    for i in record_tags:
        record.append(i.text) 

    exp_tags = browser.find_elements_by_xpath("//div[@class='salaries sbold-list-header']")
    for i in exp_tags:
        i = i.text
        head, sep, tail = i.partition('\n . \n')
        exp.append(tail)

    sal_tags = browser.find_elements_by_xpath("//div[@class='salary-values']/div")
    for i in sal_tags:
        sal.append(i.text) 
    salary = sal[-20:]
    for i in range(0,20,2):
        mi.append(salary[i])
        i = i+1
        ma.append(salary[i])

    av_tags = browser.find_elements_by_xpath("//p[@class='averageCtc']")
    for i in av_tags:
        av.append(i.text) 
    #scraping all the required data by xpath route

In [ ]:
Data_scientist()
#calling the function to scrape data

Data_scientist_salary = pd.DataFrame({'Company':comp, 'No. of salaries recorded':record, 'Work experience':exp, 'Average salary':av[-10:], 'Minimum salary':mi, 'Maximum salary':ma})
#saving data as dataframe

Data_scientist_salary