1) Write a python program to display all the header tags from wikipedia.org.

In [134]:
from bs4 import BeautifulSoup                                             # import required modules
import requests                                                       


def header_tags(url):                                                     # defining the function with url as parameter
    
    page = requests.get(url)                                              # get URL
    soup = BeautifulSoup(page.content)                                    # scrape webpage
    heading = soup.find_all(['h1', 'h2', 'h3', 'h4', 'h5', 'h6'])         # scrape required data
    for i in heading:             
        print(i,"\n")                                                     # display scrapped data

In [135]:
header_tags('https://en.wikipedia.org/wiki/Main_Page')                    # calling the function by passing url as a parameter

<h1 class="firstHeading mw-first-heading" id="firstHeading" style="display: none"><span class="mw-page-title-main">Main Page</span></h1>

<h1><span class="mw-headline" id="Welcome_to_Wikipedia">Welcome to <a href="/wiki/Wikipedia" title="Wikipedia">Wikipedia</a></span></h1>

<h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>

<h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>

<h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>

<h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>

<h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>

<h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>

<h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>

<h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>

<h2>Navigation menu</h2>

<h3 class="vector-menu-heading" id="p-personal-label">
<span class="vector-menu-heading-label">Personal tools</span>
</h3>

<h3 class="vector-menu-heading" id="p-namespaces-label">
<span class="vector-menu-heading-label">Namespaces</span>
</h3>

<h3 class="vector-menu-heading" id="p-views-label">
<span class="vector-menu-heading-label">Views</span>
</h3>

<h3>
<label for="searchInput">Search</label>
</h3>

<h3 class="vector-menu-heading" id="p-navigation-label">
<span class="vector-menu-heading-label">Navigation</span>
</h3>

<h3 class="vector-menu-heading" id="p-interaction-label">
<span class="vector-menu-heading-label">Contribute</span>
</h3>

<h3 class="vector-menu-heading" id="p-tb-label">
<span class="vector-menu-heading-label">Tools</span>
</h3>

<h3 class="vector-menu-heading" id="p-coll-print_export-label">
<span class="vector-menu-heading-label">Print/export</span>
</h3>

<h3 class="vector-menu-heading" id="p-wikibase-otherprojects-label">
<span class="vector-menu-heading-label">In other projects</span>
</h3>

<h3 class="vector-menu-heading" id="p-lang-label">
<span class="vector-menu-heading-label">Languages</span>
</h3>

2) Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release)
and make data frame.

In [136]:
from bs4 import BeautifulSoup                                             # import required modules
import requests
import pandas as pd

def top_100(url):                                                         # defining a function with url as parameter
    page = requests.get(url)                                              # get URL
    soup = BeautifulSoup(page.content)                                    # scrape webpage

    scraped_movies = soup.find_all("td", class_ = "titleColumn")          # scrape movie title data
    Title = []
    for i in scraped_movies:
        i = i.text.replace('\n','')
        i = i.rstrip(i[-6:])
        head,sep,tail = i.partition('.')
        Title.append(tail.strip())
    Title = Title[:100]                                                  # selecting top 100

    scraped_year = soup.find_all("span", class_ = "secondaryInfo")       # scrape movie year data
    Year = []
    for i in scraped_year:
        Year.append(i.text.replace('(','').replace(')', ''))
    Year = Year[:100]                                                    # selecting top 100
    
    scraped_rating = soup.find_all("td", class_ = "ratingColumn imdbRating") # scrape movie rating data
    Rating = []
    for i in scraped_rating:
        Rating.append(i.text.replace('\n',''))
    Rating = Rating[:100]                                                # selecting top 100

    Top_100 = pd.DataFrame({"Movie Name" : Title, "Rating" : Rating, "Year of release" : Year}) # dataframe of scraped data
    return(Top_100)

In [137]:
top_100('https://www.imdb.com/chart/top/')                                 # calling the function by passing url as a parameter

                           Movie Name Rating Year of release
0            The Shawshank Redemption    9.2            1994
1                       The Godfather    9.2            1972
2                     The Dark Knight    9.0            2008
3               The Godfather Part II    9.0            1974
4                        12 Angry Men    8.9            1957
..                                ...    ...             ...
95                             Jagten    8.3            2012
96  M - Eine Stadt sucht einen Mörder    8.3            1931
97                 North by Northwest    8.3            1959
98                       Idi i smotri    8.2            1985
99                            Vertigo    8.2            1958

[100 rows x 3 columns]

3) Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of
release) and make data frame.

In [138]:
from bs4 import BeautifulSoup                                             # import required modules
import requests
import pandas as pd

def top_100_Indian(url):                                                         # defining a function with url as parameter
    page = requests.get(url)                                              # get URL
    soup = BeautifulSoup(page.content)                                    # scrape webpage

    scraped_movies = soup.find_all("td", class_ = "titleColumn")          # scrape movie title data
    Title = []
    for i in scraped_movies:
        i = i.text.replace('\n','')
        i = i.rstrip(i[-6:])
        head,sep,tail = i.partition('.')
        Title.append(tail.strip())
    Title = Title[:100]                                                  # selecting top 100

    scraped_year = soup.find_all("span", class_ = "secondaryInfo")       # scrape movie year data
    Year = []
    for i in scraped_year:
        Year.append(i.text.replace('(','').replace(')', ''))
    Year = Year[:100]                                                    # selecting top 100
    
    scraped_rating = soup.find_all("td", class_ = "ratingColumn imdbRating") # scrape movie rating data
    Rating = []
    for i in scraped_rating:
        Rating.append(i.text.replace('\n',''))
    Rating = Rating[:100]                                                # selecting top 100

    Top_100 = pd.DataFrame({"Movie Name" : Title, "Rating" : Rating, "Year of release" : Year}) # dataframe of scraped data
    return(Top_100)

In [151]:
top_100_Indian('https://www.imdb.com/india/top-rated-indian-movies/')   # calling the function by passing url as a parameter

                     Movie Name Rating Year of release
0    Rocketry: The Nambi Effect    8.5            2022
1                    Anbe Sivam    8.4            2003
2                       Golmaal    8.4            1979
3                       Nayakan    8.4            1987
4                      Jai Bhim    8.4            2021
..                          ...    ...             ...
95              Rang De Basanti    8.0            2006
96  Baahubali 2: The Conclusion    8.0            2017
97                       Baasha    8.0            1995
98                       Masaan    8.0            2015
99                    Virumandi    8.0            2004

[100 rows x 3 columns]

4) Write s python program to display list of respected former presidents of India(i.e. Name , Term of office)
from https://presidentofindia.nic.in/former-presidents.htm

In [140]:
from bs4 import BeautifulSoup                                             # import required modules
import requests
import pandas as pd

def President_India(url):                                                 # definiing a function with url as parameter
    page = requests.get(url)                                              # get URL
    soup = BeautifulSoup(page.content)                                    # scrape webpage

    names = soup.find_all("div", class_ = "presidentListing")             # scrape President name data
    Name = []
    for i in names:
        i = i.text
        head,sep,tail = i.partition('(')
        Name.append(head.replace('\n',''))

    term = soup.find_all("div", class_ = "presidentListing")              # scrape Term of Office data
    Term = []
    for i in term:
        i = i.text
        head,sep,tail = i.partition('Term of Office: ')
        i = tail
        head,sep,tail = i.partition('\n')
        Term.append(head)
        
    President = pd.DataFrame({"Name" : Name, "Term of Office" : Term})   # dataframe of scraped data
    return(President)

In [141]:
President_India("https://presidentofindia.nic.in/former-presidents.htm") # calling the function by passing url as a parameter

,Name,Term of Office
0,Shri Ram Nath Kovind,"25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherjee,"25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil,"25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam,"25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan,"25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma,"25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman,"25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh,"25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy,"25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed,"24 August, 1974 to 11 February, 1977"
10,Shri Varahagiri Venkata Giri,"3 May, 1969 to 20 July, 1969 and 24 August, 19..."
11,Dr. Zakir Husain,"13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan,"13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad,"26 January, 1950 to 13 May, 1962"

5) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:

a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [142]:
from bs4 import BeautifulSoup                                             # import required modules
import requests
import pandas as pd

def top_odi_men(url):                                                     # definiing a function with url as parameter
    page = requests.get(url)                                              # get URL
    soup = BeautifulSoup(page.content)                                    # scrape webpage content
    
    team = soup.find_all('span', class_ = 'u-hide-phablet')               # scrape team name data
    Team = []
    for i in team:
        i = i.get_text()
        Team.append(i)
    Team = Team[:10]


    Top_team_r = soup.find('td', class_ = 'rankings-block__banner--rating u-text-right').text.replace('\n','').replace(' ', '')
    rating = soup.find_all('td', class_ = 'table-body__cell u-text-right rating')  # scrape team rating data
    Rating = [Top_team_r]
    for i in rating:
        i = i.get_text()
        Rating.append(i)
    Rating = Rating[:10]

    match_point = soup.find_all('td', class_ = 'table-body__cell u-center-text') # scrape matches played along with points data
    Match_Point = []
    for i in match_point:
        i = i.get_text()
        Match_Point.append(i)

    Top_team_m = soup.find('td', class_ = 'rankings-block__banner--matches').text
    Top_team_p = soup.find('td', class_ = 'rankings-block__banner--points').text
    Match = [Top_team_m] 
    Point = [Top_team_p]
    i=0  
    j=1
    while i<17:                                                           # seggregating matches played and ratings data
        Match.append(Match_Point[i])
        Point.append(Match_Point[j])
        i = i+2 
        j= j+2
        
    Top_odi = pd.DataFrame({"Team Name" : Team, "Rating" : Rating, "Matches" : Match, "Point" : Point}) # dataframe of scraped data
    return(Top_odi)

In [143]:
top_odi_men("https://www.icc-cricket.com/rankings/mens/team-rankings/odi") # calling the function by passing url as a parameter

      Team Name Rating Matches  Point
0   New Zealand    124      19  2,355
1       England    119      27  3,226
2         India    111      31  3,447
3      Pakistan    107      22  2,354
4     Australia    101      23  2,325
5  South Africa    101      21  2,111
6    Bangladesh     92      30  2,753
7     Sri Lanka     92      29  2,658
8   West Indies     71      41  2,902
9   Afghanistan     69      18  1,238

b) Top 10 ODI Batsmen along with the records of their team and rating.

In [144]:
from bs4 import BeautifulSoup                                            # import required modules
import requests
import pandas as pd

def top_odi_batsmen(url):                                                 # definiing a function with url as parameter
    page = requests.get(url)                                              # get URL
    soup = BeautifulSoup(page.content)                                    # scrape webpage content

    name = soup.find_all('td', class_ = 'table-body__cell name')                     # scraping top player name data
    Top_player = soup.find('div', class_ = 'rankings-block__banner--name').text
    Name = [Top_player]
    for i in name:
        Name.append(i.text.replace('\n','')) 
    Name = Name[:10]

    rating = soup.find_all('td', class_ = 'table-body__cell u-text-right rating')    # scraping top player rating data
    Top_player_rating = soup.find('div', class_ = 'rankings-block__banner--rating').text
    Rating = [Top_player_rating]
    for i in rating:
        i = i.text
        Rating.append(i)
    Rating = Rating[:10]

    team = soup.find_all('span', class_ = 'table-body__logo-text')                   # scraping top player team data
    Top_player_team = soup.find('div', class_ = 'rankings-block__banner--nationality').text.replace('\n','').split(' ')[0]
    Team = [Top_player_team]
    for i in team:
        i = i.text.replace('\n','')
        Team.append(i)
    Team = Team[:10]

    DataFrame = pd.DataFrame({'Name':Name, 'Team':Team, 'Rating':Rating})           # dataframe of scraped data
    return(DataFrame)

In [145]:
top_odi_batsmen("https://www.icc-cricket.com/rankings/mens/player-rankings/odi") # calling the function by passing url as a parameter

                    Name Team Rating
0             Babar Azam  PAK    890
1  Rassie van der Dussen   SA    789
2        Quinton de Kock   SA    784
3            Imam-ul-Haq  PAK    779
4            Virat Kohli  IND    744
5           Rohit Sharma  IND    740
6           David Warner  AUS    737
7         Jonny Bairstow  ENG    732
8            Ross Taylor   NZ    722
9            Aaron Finch  AUS    715

c) Top 10 ODI bowlers along with the records of their team and rating.

In [146]:
from bs4 import BeautifulSoup                                            # import required modules
import requests
import pandas as pd

def top_odi_bowlers(url):                                                 # definiing a function with url as parameter
    page = requests.get(url)                                              # get URL
    soup = BeautifulSoup(page.content)                                    # scrape webpage content

    name = soup.find_all('td', class_ = 'table-body__cell rankings-table__name name') # scraping top player name data
    Top_player = soup.find('div', class_ = 'rankings-block__banner--name-large').text
    Name = [Top_player]
    for i in name:
        Name.append(i.text.replace('\n','')) 
    Name = Name[:10]

    rating = soup.find_all('td', class_ = 'table-body__cell rating')                 # scraping top player rating data
    Top_player_rating = soup.find('div', class_ = 'rankings-block__banner--rating').text
    Rating = [Top_player_rating]
    for i in rating:
        i = i.text
        Rating.append(i)
    Rating = Rating[:10]

    team = soup.find_all('span', class_ = 'table-body__logo-text')                   # scraping top player team data
    Top_player_team = soup.find('div', class_ = 'rankings-block__banner--nationality').text.replace('\n','')
    Team = [Top_player_team]
    for i in team:
        i = i.text.replace('\n','')
        Team.append(i)
    Team = Team[:10]

    DataFrame = pd.DataFrame({'Name':Name, 'Team':Team, 'Rating':Rating})           # dataframe of scraped data
    return(DataFrame)

In [147]:
top_odi_bowlers("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling") # calling the function by passing url as a parameter

                Name                    Team Rating
0        Trent Boult  NZ                        720
1     Josh Hazlewood                     AUS    679
2   Mujeeb Ur Rahman                     AFG    676
3     Jasprit Bumrah                     IND    662
4     Shaheen Afridi                     PAK    661
5      Mohammad Nabi                     AFG    657
6       Mehedi Hasan                     BAN    655
7        Rashid Khan                     AFG    651
8         Matt Henry                      NZ    644
9  Mustafizur Rahman                     BAN    640

6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:

a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [148]:
from bs4 import BeautifulSoup                                             # import required modules
import requests
import pandas as pd

def top_odi_wteam(url):                                                   # definiing a function with url as parameter
    page = requests.get(url)                                              # get URL
    soup = BeautifulSoup(page.content)                                    # scrape webpage content
    
    team = soup.find_all('span', class_ = 'u-hide-phablet')               # scrape team name data
    Team = []
    for i in team:
        i = i.get_text()
        Team.append(i)
    Team = Team[:10]


    Top_team_r = soup.find('td', class_ = 'rankings-block__banner--rating u-text-right').text.replace('\n','').replace(' ', '')
    rating = soup.find_all('td', class_ = 'table-body__cell u-text-right rating')  # scrape team rating data
    Rating = [Top_team_r]
    for i in rating:
        i = i.get_text()
        Rating.append(i)
    Rating = Rating[:10]

    match_point = soup.find_all('td', class_ = 'table-body__cell u-center-text') # scrape matches played along with points data
    Match_Point = []
    for i in match_point:
        i = i.get_text()
        Match_Point.append(i)

    Top_team_m = soup.find('td', class_ = 'rankings-block__banner--matches').text
    Top_team_p = soup.find('td', class_ = 'rankings-block__banner--points').text
    Match = [Top_team_m] 
    Point = [Top_team_p]
    i=0  
    j=1
    while i<17:                                                           # seggregating matches played and ratings data
        Match.append(Match_Point[i])
        Point.append(Match_Point[j])
        i = i+2 
        j= j+2
        
    Top_odi = pd.DataFrame({"Team Name" : Team, "Rating" : Rating, "Matches" : Match, "Point" : Point}) # dataframe of scraped data
    return(Top_odi)

In [149]:
top_odi_wteam("https://www.icc-cricket.com/rankings/womens/team-rankings/odi") # calling the function by passing url as a parameter

      Team Name Rating Matches  Point
0     Australia    167      29  4,837
1       England    123      33  4,046
2  South Africa    119      35  4,157
3         India    101      32  3,219
4   New Zealand     97      31  3,019
5   West Indies     92      30  2,768
6    Bangladesh     78      12    930
7      Pakistan     65      30  1,962
8       Ireland     45       9    405
9     Sri Lanka     45      11    495

b) Top 10 women’s ODI Batting players along with the records of their team and rating.

In [ ]:
from bs4 import BeautifulSoup                                            # import required modules
import requests
import pandas as pd

def top_odi_wbat(url):                                                    # definiing a function with url as parameter
    page = requests.get(url)                                              # get URL
    soup = BeautifulSoup(page.content)                                    # scrape webpage content

    name = soup.find_all('td', class_ = 'table-body__cell rankings-table__name name') # scraping top player name data
    Top_player = soup.find('div', class_ = 'rankings-block__banner--name-large').text
    Name = [Top_player]
    for i in name:
        Name.append(i.text.replace('\n','')) 
    Name = Name[:10]

    rating = soup.find_all('td', class_ = 'table-body__cell rating')                 # scraping top player rating data
    Top_player_rating = soup.find('div', class_ = 'rankings-block__banner--rating').text
    Rating = [Top_player_rating]
    for i in rating:
        i = i.text
        Rating.append(i)
    Rating = Rating[:10]

    team = soup.find_all('span', class_ = 'table-body__logo-text')                   # scraping top player team data
    Top_player_team = soup.find('div', class_ = 'rankings-block__banner--nationality').text.replace('\n','')
    Team = [Top_player_team]
    for i in team:
        i = i.text.replace('\n','')
        Team.append(i)
    Team = Team[:10]

    DataFrame = pd.DataFrame({'Name':Name, 'Team':Team, 'Rating':Rating})           # dataframe of scraped data
    return(DataFrame)

In [ ]:
top_odi_wbat('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting') # calling the function by passing url as a parameter

In [ ]:
c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [ ]:
from bs4 import BeautifulSoup                                            # import required modules
import requests
import pandas as pd

def top_odi_wbowl(url):                                                    # definiing a function with url as parameter
    page = requests.get(url)                                              # get URL
    soup = BeautifulSoup(page.content)                                    # scrape webpage content

    name = soup.find_all('td', class_ = 'table-body__cell rankings-table__name name') # scraping top player name data
    Top_player = soup.find('div', class_ = 'rankings-block__banner--name-large').text
    Name = [Top_player]
    for i in name:
        Name.append(i.text.replace('\n','')) 
    Name = Name[:10]

    rating = soup.find_all('td', class_ = 'table-body__cell rating')                 # scraping top player rating data
    Top_player_rating = soup.find('div', class_ = 'rankings-block__banner--rating').text
    Rating = [Top_player_rating]
    for i in rating:
        i = i.text
        Rating.append(i)
    Rating = Rating[:10]

    team = soup.find_all('span', class_ = 'table-body__logo-text')                   # scraping top player team data
    Top_player_team = soup.find('div', class_ = 'rankings-block__banner--nationality').text.replace('\n','')
    Team = [Top_player_team]
    for i in team:
        i = i.text.replace('\n','')
        Team.append(i)
    Team = Team[:10]

    DataFrame = pd.DataFrame({'Name':Name, 'Team':Team, 'Rating':Rating})           # dataframe of scraped data
    return(DataFrame)

In [ ]:
top_odi_wbowl('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/bowling') # calling the function by passing url as a parameter

7) Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world :
i) Headline
ii) Time
iii) News Link

In [ ]:
from bs4 import BeautifulSoup                                             # import required modules
import requests
import pandas as pd

def news(url):                                                            # definiing a function with url as parameter 
    page = requests.get(url)                                              # get URL
    soup = BeautifulSoup(page.content)                                    # scrape webpage content

    title = soup.find_all('a', class_ ='LatestNews-headline')             # scraping news headline data
    Title = []
    for i in title:
        Title.append(i.text) 

    time = soup.find_all('time', class_ ='LatestNews-timestamp')          # scraping news time data
    Time = []
    for i in time:
        Time.append(i.text) 

    link = soup.find_all('div', class_='LatestNews-headlineWrapper')      # scraping news link data
    Link = []
    for i in link:
        head, sep, tail = str(i).partition('" title=')
        head, sep, tail = head.partition('a class="LatestNews-headline" href="')
        Link.append(tail)

    DataFrame = pd.DataFrame({'News title':Title,'Time stamp':Time,'Link':Link}) # Dataframe of scraped data
    return(DataFrame)

In [ ]:
news('https://www.cnbc.com/world/?region=world')              # calling the function by passing url as a parameter

8) Write a python program to scrape the details of most downloaded articles from AI in last 90 days.
https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles
Scrape below mentioned details :
i) Paper Title
ii) Authors
iii) Published Date
iv) Paper URL

In [ ]:
from bs4 import BeautifulSoup                                               # import required modules
import requests
import pandas as pd

def paper(url):                                                             # defining a function with url as parameter 
    page = requests.get(url)                                                # get URL
    soup = BeautifulSoup(page.content)                                      # scrape webpage content

    title = soup.find_all('h2', class_ ='sc-1qrq3sd-1 MKjKb sc-1nmom32-0 sc-1nmom32-1 hqhUYH ebTA-dR') # scraping title data
    Title = []
    for i in title:
        Title.append(i.text) 

    author = soup.find_all('span', class_ ='sc-1w3fpd7-0 pgLAT')            # scraping paper author data
    Author = []
    for i in author:
        Author.append(i.text) 

    date = soup.find_all('span', class_ ='sc-1thf9ly-2 bKddwo')             # scraping paper published date data
    Date = []
    for i in date:
        Date.append(i.text) 

    link = soup.find_all('a', class_ ='sc-5smygv-0 nrDZj')                  # scraping publication link data
    Link = []
    for i in link:
        Link.append(i['href'])
        
    DataFrame = pd.DataFrame({'Paper title':Title,'Author':Author,'Publication date':Date,'Link':Link}) # Dataframe of scraped data
    return(DataFrame)

In [ ]:
paper('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles') # calling the function by passing url as a parameter

9) Write a python program to scrape mentioned details from dineout.co.in :
i) Restaurant name
ii) Cuisine
iii) Location
iv) Ratings
v) Image URL

In [ ]:
from bs4 import BeautifulSoup                                             # import required modules
import requests
import pandas as pd

def restuarant(url):                                                      # defining a function with url as parameter 
    page = requests.get(url)                                              # get URL
    soup = BeautifulSoup(page.content)                                    # scrape webpage content
    
    Restuarant_name = []                                                  # Scrape Restuarant name and location data
    Location = []
    for i in soup.find_all('div', class_ = 'restnt-info cursor'):
        Restuarant_name.append(i.a.text)
        Location.append(i.div.text)

    Cuisine = []                                                          # Scrape Restuarant cuisine data
    for i in soup.find_all('span', class_ = 'double-line-ellipsis'):
        head, sep, tail = i.text.partition('|')
        Cuisine.append(tail)

    Image_url = []                                                        # Scrape Restuarant image url data
    for i in soup.find_all('img', class_ = 'no-img'):
        Image_url.append(i['data-src'])

    Rating = []                                                           # Scrape Restuarant rating data
    for i in soup.find_all('div', class_ = 'restnt-rating rating-4'):
        Rating.append(i.text)

    DataFrame = pd.DataFrame({'Restuarant_name':Restuarant_name, 'Cuisine':Cuisine, 'Location':Location, 'Rating':Rating, 'Image_url':Image_url})
    return(DataFrame)                                                     # DataFrame of scraped data

In [ ]:
restuarant('https://www.dineout.co.in/delhi-restaurants/welcome-back') # calling the function by passing url as a parameter

10) Write a python program to scrape the details of top publications from Google Scholar from
https://scholar.google.com/citations?view_op=top_venues&hl=en
i) Rank
ii) Publication
iii) h5-index
iv) h5-median

In [ ]:
from bs4 import BeautifulSoup                                                 # import required modules
import requests
import pandas as pd

def paper(url):                                                               # defining a function with url as parameter 
    page = requests.get(url)                                                  # get URL
    soup = BeautifulSoup(page.content)                                        # scrape webpage content

    rank = soup.find_all('td', class_ ='gsc_mvt_p')                           # scraping rank data
    Rank = []
    for i in rank:
        Rank.append(i.text) 

    publication = soup.find_all('td', class_ ='gsc_mvt_t')                    # scraping publication data
    Publication = []
    for i in publication:
        Publication.append(i.text) 

    h5_index = soup.find_all('a', class_ ='gs_ibl gsc_mp_anchor')             # scraping h5_index data
    H5_index = []
    for i in h5_index:
        H5_index.append(i.text) 

    h5_median = soup.find_all('span', class_ ='gs_ibl gsc_mp_anchor')         # scraping h5_median data
    H5_median = []
    for i in h5_median:
        H5_median.append(i.text)
                                                        
    DataFrame = pd.DataFrame({'Rank':Rank,'Publication':Publication,'h5_index':H5_index,'h5_median':H5_median})
    return(DataFrame)                                                         # Dataframe of scraped data

In [ ]:
paper('https://scholar.google.com/citations?view_op=top_venues&hl=en') # calling the function by passing url as a parameter