Webscaring assignment 4

In [2]:
#Importing required Libraries
import selenium
import pandas as pd
import time
from time import sleep

#Importing selenium webdriver
from selenium import webdriver

#Importing exceptions to be handled
from selenium.common.exceptions import StaleElementReferenceException, TimeoutException, SessionNotCreatedException
from selenium.common.exceptions import ElementNotInteractableException, NoSuchElementException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By

#Import to ignore warnings
import warnings
warnings.filterwarnings("ignore")

1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [29]:
#calling webdriver
browser = webdriver.Chrome() 

#getting into website
url = 'https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
browser.get(url) 
time.sleep(2)

#scraping names data
name=[]
try:
    names=browser.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]")
    name = [i.text for i in names]
#Handle NoSuchElementException
except NoSuchElementException:
    name.append('Not available')
#Handle StaleElementReferenceException
except StaleElementReferenceException:
    name.append('Not available')
    
#scraping rank data
rank=[]
try:
    ranks=browser.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]")
    rank = [i.text for i in ranks]
#Handle NoSuchElementException
except NoSuchElementException:
    name.append('Not available')
#Handle StaleElementReferenceException
except StaleElementReferenceException:
    name.append('Not available')

#scraping artist/uploader of the video
artist=[]
try:
    artists=browser.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")
    artist = [i.text for i in artists]
#Handle NoSuchElementException
except NoSuchElementException:
    artist.append('Not available')
#Handle StaleElementReferenceException
except StaleElementReferenceException:
    artist.append('Not available')
     
#scraping views count data
view=[]
try:
    views=browser.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]")
    view = [i.text for i in views]
#Handle NoSuchElementException
except NoSuchElementException:
    view.append('Not available')
#Handle StaleElementReferenceException
except StaleElementReferenceException:
    view.append('Not available')
      
#scraping upload date data
date=[]
try:
    dates=browser.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]")
    date = [i.text for i in dates]
#Handle NoSuchElementException
except NoSuchElementException:
    date.append('Not available')
#Handle StaleElementReferenceException
except StaleElementReferenceException:
    date.append('Not available')
      
#creating data frame
df=pd.DataFrame({"Rank":rank, "Name":name,"Artist":artist,"Upload Date":date,"Views (billion)":view})
#Displaying data frame
df

,Rank,Name,Artist,Upload Date,Views (billion)
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",12.00
1,2.,"""Despacito""[7]",Luis Fonsi,"January 12, 2017",8.05
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,"October 8, 2016",6.57
3,4.,"""Bath Song""[15]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.89
4,5.,"""Shape of You""[16]",Ed Sheeran,"January 30, 2017",5.88
5,6.,"""See You Again""[18]",Wiz Khalifa,"April 6, 2015",5.74
6,7.,"""Phonics Song with Two Words""[23]",ChuChu TV,"March 6, 2014",5.08
7,8.,"""Uptown Funk""[24]",Mark Ronson,"November 19, 2014",4.79
8,9.,"""Wheels on the Bus""[25]",Cocomelon – Nursery Rhymes,"May 24, 2018",4.77
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[26]",Miroshka TV,"February 27, 2018",4.76
10,11.,"""Gangnam Style""[27]",Psy,"July 15, 2012",4.64
11,12.,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,"January 31, 2012",4.52
12,13.,"""Dame Tu Cosita""[33]",El Chombo,"April 5, 2018",4.18
13,14.,"""Sugar""[34]",Maroon 5,"January 14, 2015",3.80
14,15.,"""Roar""[35]",Katy Perry,"September 5, 2013",3.70
15,16.,"""Counting Stars""[36]",OneRepublic,"May 31, 2013",3.70
16,17.,"""Axel F""[37]",Crazy Frog,"June 16, 2009",3.67
17,18.,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.62
18,19.,"""Thinking Out Loud""[39]",Ed Sheeran,"October 7, 2014",3.53
19,20.,"""Baa Baa Black Sheep""[40]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.46
20,21.,"""Dark Horse""[41]",Katy Perry,"February 20, 2014",3.42
21,22.,"""Waka Waka (This Time for Africa)""[42]",Shakira,"June 4, 2010",3.40
22,23.,"""Faded""[43]",Alan Walker,"December 3, 2015",3.38
23,24.,"""Let Her Go""[44]",Passenger,"July 25, 2012",3.36
24,25.,"""Girls Like You""[45]",Maroon 5,"May 31, 2018",3.35
25,26.,"""Perfect""[46]",Ed Sheeran,"November 9, 2017",3.33
26,27.,"""Bailando""[47]",Enrique Iglesias,"April 11, 2014",3.31
27,28.,"""Lean On""[48]",Major Lazer,"March 22, 2015",3.31
28,29.,"""Humpty the train on a fruits ride""[49]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.26
29,30.,"""Lakdi Ki Kathi""[50]",Jingle Toons,"June 14, 2018",3.24

2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [284]:
#calling webdriver
browser = webdriver.Chrome() 

#getting into website
url = 'https://www.bcci.tv/'
browser.get(url) 
time.sleep(2)

#Getting to international fixtures page
i_f = browser.find_element_by_xpath("//li[@class='nav-item']")
try:
    i_f.click()
except ElementNotInteractableException:
    browser.get(i_f.get_attribute('href'))  
time.sleep(2)

#scraping match time data
Time = []
times=browser.find_elements_by_xpath("//h5[@class='text-right ng-binding']")
for i in times:
    if i.text is None :
        Time.append("Not available") 
    else:
        Time.append(i.text)

#Initializing empty lists
title=[] 
series=[]
place=[]
date=[]
Time = []

#Scraping series title data
seriess=browser.find_elements_by_xpath("//div[@class='fixture-card-top']/h5[2]/span")
series = [i.text for i in seriess]
#Scraping match date data
dates=browser.find_elements_by_xpath("//div[@class='match-card-left match-schedule']/h5[1]")
date = [i.text for i in dates]
#Scraping match place data
places=browser.find_elements_by_xpath("//div[@class='fix-place ng-binding ng-scope']")
place = [i.text for i in places]
#Scraping match title data
titles=browser.find_elements_by_xpath("//div[@class='fixture-card-mid d-flex align-items-center justify-content-between']")
title = [i.text.replace('\n',' ') for i in titles]
#Scraping match time data
Times=browser.find_elements_by_xpath("//h5[@class='text-right ng-binding']")
Time = [i.text for i in Times]

#creating data frame
df=pd.DataFrame({"Match":title,"Series":series,"Place":place,"Date":date,"Time":Time})
#Displaying data frame
df

,Match,Series,Place,Date,Time
0,India vs Sri Lanka,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,"1st ODI - Barsapara Cricket Stadium, Guwahati",10 JAN 2023,1:30 PM IST
1,India vs Sri Lanka,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,"2nd ODI - Eden Gardens, Kolkata",12 JAN 2023,1:30 PM IST
2,India Women U19 vs South Africa Women U19,ICC WOMENS U19 T20 WORLD CUP 2023,"1st T20I - Willowmoore Park B Field, Benoni",14 JAN 2023,5:15 PM IST
3,India vs Sri Lanka,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,"3rd ODI - Greenfield International Stadium, Th...",15 JAN 2023,1:30 PM IST
4,India Women U19 vs United Arab Emirates Women U19,ICC WOMENS U19 T20 WORLD CUP 2023,"2nd T20I - Willowmoore Park, Benoni",16 JAN 2023,1:30 PM IST
5,India vs New Zealand,NEW ZEALAND TOUR OF INDIA ODI SERIES 2022-23,"1st ODI - Rajiv Gandhi International Stadium, ...",18 JAN 2023,1:30 PM IST
6,India Women U19 vs Scotland Women U19,ICC WOMENS U19 T20 WORLD CUP 2023,"3rd T20I - Willowmoore Park B Field, Benoni",18 JAN 2023,5:15 PM IST
7,South Africa Women vs India Women,WOMENS T20I TRI-SERIES IN SOUTH AFRICA 2023,"1st T20I - Buffalo Park, East London",19 JAN 2023,10:30 PM IST

3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [92]:
# Calling the browser
browser=webdriver.Chrome("chromedriver.exe") 
time.sleep(2)

# Getting into website
url = "https://www.guru99.com/"
browser.get(url)
time.sleep(2)

#clicking on selenium  under testing menu
sele=browser.find_element_by_xpath("//a[@data-lasso-id='147434']")
try:
    sele.click()
#Handling ElementNotInteractableException
except ElementNotInteractableException:          
    browser.get(sele.get_attribute('href'))
time.sleep(2)

#clicking on Selenium Exception Handling
exe=browser.find_element_by_xpath("//a[@title='Selenium Exception Handling (Common Exceptions List)']")
try:
    exe.click()
#Handling ElementNotInteractableException
except ElementNotInteractableException:          
    browser.get(exe.get_attribute('href'))              
time.sleep(2) 

#scraping exceptions names & their descriptions
name=[]
description = []
names=browser.find_elements_by_xpath("//div[@class='entry-content single-content']/p")
name = [i.text.split(':')[0] for i in names[:41]]
description = [i.text.split(':')[1] for i in names[:41]]

#creating data frame
df=pd.DataFrame({"Name":name,"Description":description})
#Displaying data frame
df

,Name,Description
0,1. ElementNotVisibleException,This type of Selenium exception occurs when a...
1,2. ElementNotSelectableException,This Selenium exception occurs when an elemen...
2,3. NoSuchElementException,This Exception occurs if an element could not...
3,4. NoSuchFrameException,This Exception occurs if the frame target to ...
4,5. NoAlertPresentException,This Exception occurs when you switch to no p...
5,6. NoSuchWindowException,This Exception occurs if the window target to...
6,7. StaleElementReferenceException,This Selenium exception occurs happens when t...
7,8. SessionNotFoundException,The WebDriver is acting after you quit the br...
8,9. TimeoutException,Thrown when there is not enough time for a co...
9,10. WebDriverException,This Exception takes place when the WebDriver...
10,11. ConnectionClosedException,This type of Exception takes place when there...
11,12. ElementClickInterceptedException,The command may not be completed as the eleme...
12,13. ElementNotInteractableException,This Selenium exception is thrown when any el...
13,14. ErrorInResponseException,This happens while interacting with the Firef...
14,15. ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if...
15,16. ImeActivationFailedException,This expectation will occur when IME engine a...
16,17. ImeNotAvailableException,It takes place when IME support is unavailable.
17,18. InsecureCertificateException,Navigation made the user agent to hit a certi...
18,19. InvalidArgumentException,It occurs when an argument does not belong to...
19,20. InvalidCookieDomainException,This happens when you try to add a cookie und...
20,21. InvalidCoordinatesException,This type of Exception matches an interacting...
21,22. InvalidElementStateException,It occurs when command can’t be finished when...
22,23. InvalidSessionIdException,This Exception took place when the given sess...
23,24. InvalidSwitchToTargetException,This occurs when the frame or window target t...
24,25. JavascriptException,This issue occurs while executing JavaScript ...
25,26. JsonException,It occurs when you afford to get the session ...
26,27. NoSuchAttributeException,This kind of Exception occurs when the attrib...
27,28. MoveTargetOutOfBoundsException,It takes place if the target provided to the ...
28,29. NoSuchContextException,ContextAware does mobile device testing.
29,30. NoSuchCookieException,This Exception occurs when no cookie matching...
30,31. NotFoundException,This Exception is a subclass of WebDriverExce...
31,32. RemoteDriverServerException,This Selenium exception is thrown when the se...
32,33. ScreenshotException,It is not possible to capture a screen.
33,34. SessionNotCreatedException,It happens when a new session could not be su...
34,35. UnableToSetCookieException,This occurs if a driver is unable to set a co...
35,36. UnexpectedTagNameException,Happens if a support class did not get a web ...
36,37. UnhandledAlertException,This expectation occurs when there is an aler...
37,38. UnexpectedAlertPresentException,It occurs when there is the appearance of an ...
38,39. UnknownMethodException,This Exception happens when the requested com...
39,40. UnreachableBrowserException,This Exception occurs only when the browser i...
40,41. UnsupportedCommandException,This occurs when remote WebDriver doesn’t sen...

4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)
D) GSDP(19-20)
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [102]:
# Calling browser
browser=webdriver.Chrome("chromedriver.exe") 

# Opening the website
browser.get("http://statisticstimes.com/")
time.sleep(2)

#clicking on economy
eco=browser.find_element_by_xpath("//div[@class='dropdown'][2]/div/a[3]")
try:
    eco.click()
except ElementNotInteractableException:
    browser.get(eco.get_attribute('href'))
time.sleep(1)

#clicking on gdp of indian states
gdpi=browser.find_element_by_xpath("//ul[@style='list-style-type:none;margin-left:20px;']//li[1]/a")
gdpi.click()
time.sleep(1)

#Initializing empty lists
rank = []
state = []
gsdp20 = []
gsdp19 = []
share19 = []
gdp19 = []

#Scraping rank data
ranks=browser.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[1]")
rank = [i.text for i in ranks]
#Scraping states name data
states=browser.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[2]")
state = [i.text for i in states]
#Scraping gsdp 19-20 data
gsdp20s=browser.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[3]")
gsdp20 = [i.text for i in gsdp20s]
#Scraping gsdp 18-19 data
gsdp19s=browser.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[4]")
gsdp19 = [i.text for i in gsdp19s]
#Scraping shares 18-19 data
share19s=browser.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[5]")
share19 = [i.text for i in share19s]
#Scraping gdp 19 data
gdp19s=browser.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[6]")
gdp19 = [i.text for i in gdp19s]

#creating data frame
df=pd.DataFrame({'Rank':rank,'State':state,'GSDP(19-20)':gsdp20,'GSDP(18-19)':gsdp19,'Share(18-19)':share19,'GDP($billion)':gdp19})
#Displaying data frame
df

,Rank,State,GSDP(19-20),GSDP(18-19),Share(18-19),GDP($billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
ASSIGNMENT
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [162]:
# Calling the browser
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(1)

# Getting into the website
url = "https://github.com/"
driver.get(url)
time.sleep(1)

# clicking on option button
drop=driver.find_element_by_xpath("//ul[@class='d-lg-flex list-style-none']/li[3]/button")
drop.click()
time.sleep(1)

# clicking on trending button
try:
    tr=driver.find_element_by_xpath("//ul[@class='list-style-none mb-3']/li[3]/a")
    tr.click()
#Handling NoSuchElementException
except NoSuchElementException:
    driver.get(url+'trending')
time.sleep(1)

#Initializing empty lists
url=[]
contributor=[]
language=[]
title=[]
description=[]

#scraping repositories urls data
urls=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a")
url = [i.get_attribute('href') for i in urls]
    
#scraping repositories title data
titles=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']")
title = [i.text for i in titles]
    
#scraping repositories description data
descriptions=driver.find_elements_by_xpath("//article[@class='Box-row']/p")
description = [i.text for i in descriptions]

for i in url:
    driver.get(i)
    time.sleep(1)
    #scraping contributors count data
    try:
        count=driver.find_element_by_xpath("//h2[@class='h4 mb-3']/a[contains(text(),'Contributors')]/span")
        contributor.append(count.text)
    #Handle NoSuchElementException
    except NoSuchElementException:
        contributor.append('Not available')
    
    #scraping languages data
    lan = []
    languages=driver.find_elements_by_xpath("//li[@class='d-inline']//a//span[1]")
    if languages:    
        lan = [i.text for i in languages]
    else:
        lan.append('Not available')
    language.append(lan) 
    
#creating data frame
df=pd.DataFrame({'Title':title,'Description':description,'Contributors count':contributor,'Language used':language})
#Displaying data frame
df

,Title,Description,Contributors count,Language used
0,donnemartin / system-design-primer,Learn how to design large-scale systems. Prep ...,117,"[Python, Shell]"
1,karpathy / minGPT,A minimal PyTorch re-implementation of the Ope...,12,"[Python, Jupyter Notebook]"
2,itwanger / toBeBetterJavaer,一份通俗易懂、风趣幽默的Java学习指南，内容涵盖Java基础、Java并发编程、Java虚...,13,[Java]
3,sourcegraph / conc,Better structured concurrency for go,9,[Go]
4,WhatsApp / proxy,This repository contains the WhatsApp proxy im...,2,"[Shell, Smarty, Dockerfile]"
5,tw93 / Pake,🤱🏻 Simply make any web page a desktop applicat...,17,[Rust]
6,jwasham / coding-interview-university,A complete computer science study plan to beco...,283,[Not available]
7,AykutSarac / jsoncrack.com,🔮 Seamlessly visualize your JSON data instantl...,19,[TypeScript]
8,midudev / kings-league-project,API y website de la Kings League Infojobs por ...,49,"[JavaScript, Astro, TypeScript]"
9,vitoplantamura / BugChecker,SoftICE-like kernel debugger for Windows 11,2,"[C, C++]"
10,rmcelreath / stat_rethinking_2023,Statistical Rethinking Course for Jan-Mar 2023,Not available,[Not available]
11,EddieHubCommunity / LinkFree,Connect to your audience with a single link. S...,"1,008","[JavaScript, CSS]"
12,sindresorhus / awesome,😎 Awesome lists about all kinds of interesting...,548,[Not available]
13,yangshun / tech-interview-handbook,💯 Curated coding interview preparation materia...,128,"[TypeScript, JavaScript, Python]"
14,kamranahmedse / developer-roadmap,"Interactive roadmaps, guides and other educati...",548,"[Astro, JavaScript, TypeScript, CSS, Shell]"
15,hpcaitech / ColossalAI,Colossal-AI: A Unified Deep Learning System fo...,84,"[Python, Cuda, C++]"
16,jart / blink,tiniest x86-64-linux emulator,3,"[C, Makefile, Assembly]"
17,microsoft / Web-Dev-For-Beginners,"24 Lessons, 12 Weeks, Get Started as a Web Dev...",189,"[JavaScript, HTML, CSS, Vue]"
18,book-searcher-org / book-searcher,"Search books index, create your private local ...",10,"[TypeScript, Rust, Shell, Makefile, Dockerfile..."
19,AUTOMATIC1111 / stable-diffusion-webui,Stable Diffusion web UI,296,"[Python, JavaScript, HTML, CSS]"
20,EbookFoundation / free-programming-books,📚 Freely available programming books,"2,484",[Not available]
21,alist-org / alist,🗂️A file list program that supports multiple s...,31,[Go]
22,ryanmcdermott / clean-code-javascript,🛁 Clean Code concepts adapted for JavaScript,111,[JavaScript]
23,google / googletest,GoogleTest - Google Testing and Mocking Framework,374,"[C++, Python, CMake, C, Starlark, Shell]"
24,toeverything / AFFiNE,There can be more than Notion and Miro. AFFiNE...,41,"[TypeScript, JavaScript]"

6. Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [207]:
# Calling the browser
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(1)

# Getting into the website
url = "https:/www.billboard.com/"
driver.get(url)
time.sleep(1)

#clicking the charts button
options=driver.find_element_by_xpath("//button[@class='o-icon-button lrv-a-unstyle-button lrv-a-unstyle-link lrv-u-cursor-pointer lrv-u-flex js-MegaMenu-Trigger lrv-u-color-grey:hover lrv-a-hover-effect']")
options.click()
charts= driver.find_element_by_xpath("//a[@class='c-link  lrv-a-unstyle-link a-font-primary-bold lrv-u-font-size-28@desktop-xl lrv-u-font-size-18 lrv-u-color-grey:hover u-padding-a-1@desktop-max lrv-u-padding-b-050']")
charts.click()
#clicking the hot 100
charts= driver.find_element_by_xpath("//a[@class='c-label__link lrv-u-color-brand-primary u-color-black@mobile-max a-font-primary-bold lrv-u-font-size-32 u-whitespace-nowrap@tablet']")
charts.click()
time.sleep(1)

#Initializing empty lists
song = []
artist = []
lrank = []
prank = []
wboard = []

#scraping name data
songs=driver.find_elements_by_xpath("//ul[@class='lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max']/li/h3")
song = [i.text for i in songs]

#scraping name data
artists=driver.find_elements_by_xpath("//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only']")
artist = [i.text for i in artists]
#First artist
i = driver.find_element_by_xpath("//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet']")
artist.insert(0,i.text)

#scraping last week rank data
lranks=driver.find_elements_by_xpath("//ul[@class='lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max']/li[4]/span")
lrank = [i.text for i in lranks]

#scraping peak rank data
pranks=driver.find_elements_by_xpath("//ul[@class='lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max']/li[5]/span")
prank = [i.text for i in pranks]

#scraping peak rank data
wboards=driver.find_elements_by_xpath("//ul[@class='lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max']/li[6]/span")
wboard = [i.text for i in wboards]
wboard

#creating data frame
df=pd.DataFrame({'Title':song,'Artist':artist,'Last wee rank':lrank,'Peak rank':prank, 'Weeks on board':wboard})
#Displaying data frame
df

,Title,Artist,Last wee rank,Peak rank,Weeks on board
0,All I Want For Christmas Is You,Mariah Carey,1,1,58
1,Rockin' Around The Christmas Tree,Brenda Lee,2,2,52
2,Jingle Bell Rock,Bobby Helms,3,3,49
3,Last Christmas,Wham!,5,4,31
4,A Holly Jolly Christmas,Burl Ives,4,4,32
...,...,...,...,...,...
95,Pick Me Up,Gabby Barrett,-,69,19
96,SOS,SZA,79,32,3
97,Forget Me,Lewis Capaldi,-,95,7
98,La Jumpa,Arcangel & Bad Bunny,-,68,2
99,Gone Girl,SZA,82,43,3

7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [230]:
# Calling the browser
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(1)

# Getting into the website
url = "https://www.naukri.com/"
driver.get(url)
time.sleep(1)

#Clicking on Recruters option
try:
    rec=driver.find_element_by_xpath("//a[@title='Search Recruiters']")
except:    
    driver.get(rec.get_attribute('href'))
time.sleep(1)

#Clicking on search bar to enter search item
driver.find_element_by_xpath("//input[@class='sugInp']").send_keys("Data Science")
time.sleep(1)

#Clicing on search button
button=driver.find_element_by_xpath("//button[@id='qsbFormBtn']")
button.click()
time.sleep(1)

#Initializing empty lists
name = []
company = []
skill = []
designation = []
location = []

#Scraping name data
names=driver.find_elements_by_xpath("//div[@class='recInfo']/div/p/a[1]")
name = [i.text for i in names]
#Scraping designation data
designations=driver.find_elements_by_xpath("//div[@class='recInfo']/div/p/span[1]")
designation = [i.text for i in designations]
#Scraping sills hiring for data
skills=driver.find_elements_by_xpath("//div[@class='recInfo']/div[2]")
skill = [i.text for i in skills]
#Scraping company name data
companys=driver.find_elements_by_xpath("//div[@class='recInfo']/div/p/a[2]")
company = [i.text for i in companys]

#Import beautiful soup as 2 location data missing to be captured as missing
from bs4 import BeautifulSoup
#Importing requests
import requests
#scrapping location data
soup=BeautifulSoup(driver.page_source,'html.parser')
locations=soup.find_all('div',attrs={'vcard'})
for i in locations:
    try:
        location.append(i.find('small').text)
    except AttributeError :
        location.append("Not available")

#creating data frame
df=pd.DataFrame({'Name':name,'Designation':designation,'Loacation':location,'Skills hiring for':skill, 'Company name':company})
#Displaying data frame
df

,Name,Designation,Loacation,Skills hiring for,Company name
0,Aakash Harit,HR Manager,Delhi,"Classic ASP Developer, Internet Marketing Prof...",Data Science Network
1,shravan Kumar Gaddam,Company Recruiter,Hyderabad / Secunderabad,".Net, Java, Data Science, Linux Administration...",Shore Infotech India Pvt. Ltd
2,MARSIAN Technologies LLP,Company HR,Pune,"Data Science, Artificial Intelligence, Machine...",MARSIAN Technologies LLP
3,Anik Agrawal,Company Recruiter,Ahmedabad,"Mean Stack, javascript, angularjs, mongodb, We...",Enerlytics Software Solutions Pvt Ltd
4,subhas patel,Founder CEO,UK - (london),"Hadoop, Spark, Digital Strategy, Data Architec...",LibraryXProject
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Vadodara / Baroda,"Analytics, Business Intelligence, Business Ana...",Apidel Technologies Division of Transpower
6,Institute for Financial Management and Resear,Programme Manager,Chennai,Data Science,IFMR
7,Balu Ramesh,HR Administrator,Trivandrum,"Machine Learning, algorithms, Go Getter, Compu...",Techvantage Systems Pvt Ltd
8,Asif Lucknowi,Director,Indore,"Technical Training, Software Development, Pres...",Weupskill- Live Wire India
9,InstaFinancials,Human Resource,Bengaluru / Bangalore,"Software Development, It Sales, Account Manage...",CBL Data Science Private Limited
10,Kalpana Dumpala,Executive Hiring,Hyderabad / Secunderabad,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Innominds Software
11,Mubarak,Company HR,Bengaluru / Bangalore,"Business Intelligence, Data Warehousing, Data ...",MoneyTap
12,Kushal Rastogi,Company HR,Mumbai,"Office Administration, Hr Administration, tele...",QuantMagnum Technologies Pvt. Ltd.
13,Mahesh Babu Channa,HR Team Lead,Hyderabad / Secunderabad,"Social Media, digital media maketing, seo, smm...",SocialPrachar.com
14,Vaishnavi Kudalkar,HR Executive,Mumbai,"Data Science, Python, Data Analytics",Codeachive learning
15,Priyanka Akiri,HR Manager,Hyderabad,"Oracle Dba, Data Science, Data Warehousing, ET...",Infinitive Software Solutions
16,Kapil Devang,HR Manager,Bhopal,"Big Data, Hadoop, Data Analytics, Data Science",BISP Solutions
17,Sakshi Chhikara,Assistant Manager HR,Chandigarh,"React.js, Data Science, Java, Front End, Busin...",BIZ INFOTECNO PRIVATE LIMITED
18,Ruchi Dhote,Senior Executive Talent Acquisition,Pune,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Bristlecone India Ltd
19,Manisha Yadav,HR Executive,Navi Mumbai,"Telecalling, Client Interaction, Marketing, Re...",Easi Tax
20,Riya Rajesh,Manager Talent Acquisition,Cochin,Data Science,Novelworx Digital Solutions
21,Rashmi Bhattacharjee,HR Head,Delhi,"Corporate Sales, Software Development, Softwar...",AXESTRACK SOFTWARE SOLUTIONS PRIVATE...
22,Faizan Kareem,HR MANAGER,Hyderabad / Secunderabad,"Data Analytics, Data Science, Machine Learning...",FirstTech Consaltants Pvt.Ltd
23,Rithika dadwal,HR Recruiter,Pune,"Data Science, Machine Learning, Python, R, Dee...",Affine Analytics
24,Sandhya Khandagale,HR Recruiter,Pune,"Big Data, Data Science, Artificial Intelligenc...",Compumatrice Multimedia Pvt Ltd
25,Shaun Rao,Manager Human Resources,Pune,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Exela Technologies
26,Deeparchi Sharma,Company Recruiter,Gurgaon,"Research, Digital Marketing, Analytics, Softwa...",ZIGRAM
27,Azahar Shaikh,Company Recruiter,Pune,"Data Science, Artificial Intelligence, Machine...",NEAL ANALYTICS SERVICES PVT LTD
28,Manas,Lead Talent acquisition,Bengaluru / Bangalore,"Software Architecture, Vp Engineering, Product...",Autumn Leaf Consulting Services Private...
29,kumar,Proprietor,Bengaluru / Bangalore,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",trainin
30,Sunil Vedula,CEO,Not available,"Signal Processing, Machine Learning, Neural Ne...",Nanoprecise Sci Corp
31,Rajat Kumar,Founder CEO,Delhi,"Web Technologies, Project Management, Software...",R.S Consultancy &amp; Services
32,Dhruv Dev Dubey,Company Recruitment Head,Bengaluru / Bangalore,"Server Administartion, Verilog, Vhdl, Digital ...",Confidential
33,Jayanth N,Project Manager,Mysoru / Mysore,"Data Analytics, Managed Services, Team Leading...","Dollarbird Information Services Pvt, Ltd"
34,Avodha,Business Development Associate,Hyderabad / Secunderabad,"Ethical Hacking, Security Operations Center, S...",Nikitha Palaparthi
35,Priya Khare,Senior Manager,Bengaluru / Bangalore,"Data Science, Artificial Intelligence, analyti...",Independent Consultant
36,Amit Sharma,Consultant,New Delhi,"Machine Learning, Artificial Intelligence, Dat...",ASCO consulting
37,Kanan,senior technology instructor,Chennai,"C, C++, Artificial Intelligence, Python, Php, ...",NY INST
38,Shashikant Chaudhary,HR Recruiter/HR Excutive,Aligarh,"Relationship Management, Retail Sales, Private...",3D India Staffing Research &amp; Consulting...
39,Brad,"Manager, Technical Recruiting",Salt Lake City,"Data Science, Software Engineering",O.C. Tanner
40,Rutuja Pawar,Technical Recruiter,Pune,"Data Science, Big Data Analytics, Digital Mark...",Demand Matrix
41,Madhusudhan Sridhar,Erp Implementer,Bengaluru / Bangalore,"Data Science, Recruitment, Salary",MADHUSUDHAN SRIDHAR
42,Ankit Sinha,Head Analytics,Mumbai,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Suntech Global
43,Gaurav Chouhan,Chief Technical Officer,Indore,"Software Development, Business Intelligence, B...",Strategic Consulting Lab
44,Rashi Kacker,Sr Product Manager,Bengaluru / Bangalore,"Data Science, Node.js, Angularjs",Impel Labs Pvt. Ltd.
45,Ashwini,Director Global Delivery,MYSORE,"Data Science, Media Marketing, Resource Planni...",MRP Advisers
46,Balaji Kolli,Co Founder,Hyderabad / Secunderabad,"Data Analysis, Learning, Data Science, Compute...",Saras Solutions India Pvt Ltd
47,Rajani Nagaraj,HR Manager,Bengaluru / Bangalore,"Java, Hadoop, R, Machine Learning, Spark, Flum...",WildJasmine
48,ROHIT Kumar,Architect,Mumbai,"Software Development, Core Java, Unit Testing,...",LNT Private Limited
49,Amir Chowdhury,Managing Partner,Not available,"Machine Learning, Data Science, Product Manage...",Granular.ai

8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-
compare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [239]:
# Calling the browser
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(1)

# Getting into the website
url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/"
driver.get(url)
time.sleep(1)

#Initializing emty lists
name = []
author = []
volume = []
publisher = []
genre = []

#Scraping book name data
names=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[2]")
name = [i.text for i in names]

#Scraping author name data
authors=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[3]")
author = [i.text for i in authors]

try:
    volumes=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[4]")
    volume = [i.text for i in volumes]
#Handling NoSuchElementException
except NoSuchElementException:
    volume.append('Not available')
    
#Scraping publisher name data
publishers=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[5]")
publisher = [i.text for i in publishers]

#Scraping genre data
try:
    genres=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[6]")
    genre = [i.text for i in genres]
#Handling NoSuchElementException
except NoSuchElementException:
    genre.append('Not available')

#creating data frame
df=pd.DataFrame({'Book name':name,'Author':author,'Genre':genre,'Sales volume':volume, 'Publisher':publisher})
#Displaying data frame
df

,Book name,Author,Genre,Sales volume,Publisher
0,"Da Vinci Code,The","Brown, Dan","Crime, Thriller & Adventure","5,094,805",Transworld
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.",Children's Fiction,"4,475,152",Bloomsbury
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.",Children's Fiction,"4,200,654",Bloomsbury
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.",Children's Fiction,"4,179,479",Bloomsbury
4,Fifty Shades of Grey,"James, E. L.",Romance & Sagas,"3,758,936",Random House
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert",General & Literary Fiction,"807,311",Random House
96,Happy Days with the Naked Chef,"Oliver, Jamie",Food & Drink: General,"794,201",Penguin
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne",Young Adult Fiction,"792,187",Scholastic Ltd.
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave",Biography: General,"791,507",Orion
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie",Food & Drink: General,"791,095",Penguin

9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [247]:
# Calling the browser
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(1)

# Getting into the website
url = "https://www.imdb.com/list/ls095964455/"
driver.get(url)
time.sleep(1)

#Initializing emty lists
name = []
run = []
year = []
rate = []
genre = []
vote = []

#Scraping tv series name data
names=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
name = [i.text for i in names]
#Scraping tv series genre data
genres=driver.find_elements_by_xpath("//span[@class='genre']")
genre = [i.text for i in genres] 
#Scraping tv series year of release data
years=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/span[2]")
year = [i.text for i in years]
#Scraping tv series runtime data
runs=driver.find_elements_by_xpath("//span[@class='runtime']")
run = [i.text for i in runs]  

#Scraping tv series rating data
try:
    rates=driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[2]")
    rate = [i.text for i in rates]
#Handling NosuchElementException
except:
    rate.append('Not available')
    
#Scraping tv series voting data
try:
    votes=driver.find_elements_by_xpath("//span[@name='nv']")
    vote = [i.text for i in votes]
#Handling NosuchElementException
except:
    vote.append('Not available')
    
#creating data frame
df=pd.DataFrame({'Name':name,'Genre':genre, 'Ratings':rate, 'Year of release':year,'Runtime':run, 'Votes':vote})
#Displaying data frame
df

,Name,Genre,Ratings,Year of release,Runtime,Votes
0,Game of Thrones,"Action, Adventure, Drama",9.2,(2011–2019),57 min,"2,102,997"
1,Stranger Things,"Drama, Fantasy, Horror",8.7,(2016– ),51 min,"1,193,515"
2,The Walking Dead,"Drama, Horror, Thriller",8.1,(2010–2022),44 min,"995,565"
3,13 Reasons Why,"Drama, Mystery, Thriller",7.5,(2017–2020),60 min,"294,647"
4,The 100,"Drama, Mystery, Sci-Fi",7.6,(2014–2020),43 min,"253,734"
...,...,...,...,...,...,...
95,Reign,Drama,7.4,(2013–2017),42 min,"50,416"
96,A Series of Unfortunate Events,"Adventure, Comedy, Drama",7.8,(2017–2019),50 min,"62,106"
97,Criminal Minds,"Crime, Drama, Mystery",8.1,(2005– ),42 min,"200,364"
98,Scream: The TV Series,"Comedy, Crime, Drama",7.1,(2015–2019),45 min,"41,754"
99,The Haunting of Hill House,"Drama, Horror, Mystery",8.6,(2018),572 min,"247,516"

10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code

In [269]:
# Calling the browser
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(1)

# Getting into the website
url = "https://archive.ics.uci.edu/"
driver.get(url)
time.sleep(1)

#Click show all dataset
driver.find_element_by_xpath("//a[@href='datasets.php']").click()
time.sleep(1)

#Initializing emty lists
name = []
dtype = []
task = []
attr = []
inst = []
no_attr = []
year = []

#scraping dataset names
names=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b/a")
name = [i.text for i in names]
#scraping datatypes data
dtypes=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]")
dtype = [i.text for i in dtypes[1:]] #Since heading name is coming first we shall consider from second element
#scraping task data
tasks=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]")
task = [i.text for i in tasks[1:]] #Since heading name is coming first we shall consider from second element
#scraping attribute type data
attrs=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]")
attr = [i.text for i in attrs[1:]] #Since heading name is coming first we shall consider from second element
#scraping number of instances data
insts=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]")
inst = [i.text for i in insts[1:]] #Since heading name is coming first we shall consider from second element
#scraping number of attributes data
no_attrs=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]")
no_attr = [i.text for i in no_attrs[1:]] #Since heading name is coming first we shall consider from second element
#scraping year data
years=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]")
year = [i.text for i in years[1:]] #Since heading name is coming first we shall consider from second element

#creating data frame
df=pd.DataFrame({'Name':name,'Data type':dtype, 'Task':task, 'Attribute type':attr,'No. of instance':inst, 
                 'No. of attributes':no_attr, 'Year':year})
#Displaying data frame
df

,Name,Data type,Task,Attribute type,No. of instance,No. of attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021