WEBSCRAPING ASSIGNMENT - 3 part 2

6. Write a program to scrap details of all the funding deals for second quarter (i.e Jan 21 – March 21) from trak.in.

In [535]:
driver = webdriver.Chrome("chromedriver.exe") #calling webdriver
driver.get('https://trak.in/')  #getting into website
driver.maximize_window() #Maximizing the window
driver.find_element_by_xpath("//li[@id='menu-item-51510']").click() #clicking funding deals
sl = []
dt = []
st = []
ind = []
su = []
ci = []
iv = []
it = []
am = []
mar = '//table[@id="tablepress-56"]/tbody/tr/td' #for march 2021
feb = '//table[@id="tablepress-55"]/tbody/tr/td' #for feb 2021
jan = '//table[@id="tablepress-54"]/tbody/tr/td' #for jan 2021
months = [jan, feb, mar]
col = [sl, dt,st, ind,su,ci,iv,it,am]
for j in months: #Month wise for second quarter
    for q in range(1,10): #scrapping each column wise data
        path = driver.find_elements_by_xpath(j+'['+str(q)+']')
        for i in path: #Scrapping each row wise data
             col[q-1].append(i.text)   
time.sleep(2)
driver.close() #Closing the browser
second_quarter = pd.DataFrame({'Sl no':sl, 'Date':dt, 'Startup name':st, 'Industry/vertical':ind, 
                               'Sub vertical':su, 'City':ci, 'Investor name':iv, 'Investment type':it, 
                              'Amount':am }) #creating dataframe of scraped data
second_quarter #displaying scrapped data

,Sl no,Date,Startup name,Industry/vertical,Sub vertical,City,Investor name,Investment type,Amount
0,1,15/01/2021,Digit Insurance,Financial Services,Insurance Services,Bengaluru,"A91 Partners, Faering Capital, TVS Capital Funds",Venture,"1,80,00,000"
1,2,28/01/2021,Bombay Shaving Company,Consumer Goods Company,"Shave care, beard care, and skincare products",New Delhi,Reckitt Benckiser,Venture,"6,172,258.50"
2,3,19/01/2021,DeHaat,AgriTech Startup,online marketplace for farm products and services,Patna,Prosus Ventures,Series C,"30,000,000"
3,4,19/01/2021,Darwinbox,SaaS,HR Tech,Mumbai,Salesforce Ventures,Seed,"15,000,000"
4,5,18/01/2021,mfine,Health Tech Startup,AI-powered telemedicine mobile app,Bengaluru,Heritas Capital Management,Venture Round,"16,000,000"
5,6,18/01/2021,Udayy,EdTech,Online learning platform for kids in class 1-5,Gurgaon,Sequoia Capital,Seed Funding,"15,000,000"
6,7,11/01/2021,True Elements,Food Startup,Whole Food plant based Nashta,Pune,SIDBI Venture Capital,Series,"100,000,000"
7,8,13/01/2021,Saveo,B2B E-commerce,Pharmacies,Bengaluru,"Matrix Partners India, RTP Global, others",Seed,"4,000,000"
8,1,11/02/2021,Doubtnut,Edu Tech,E-Learning Platform,Gurgaon,"SIG Global, Sequoia Capital, WaterBridge Ventu...",Series B,"2,500,000"
9,2,22/02/2021,Zomato,Hospitality,Online Food Delivery Platform,Gurgaon,"Tiger Global, Kora",Venture,"250,000,000"
10,3,19/02/2021,Fingerlix,Hospitality,Semi-cooked food delivery app,Mumbai,"Rhodium Trust, Accel Partners and Swiggy",Series C,"2,747,045.20"
11,4,17/02/2021,Zolve,FinTech,Global Neobank Venture,Mumbai,Accel Partners and Lightspeed Venture Partners,Seed,"1,50,00,000"
12,5,15/02/2021,KreditBee,Finance,Digital lending platform,Bengaluru,Azim Premji’s PremjiInvest and South Korea’s M...,Series C,"75,000,000"
13,6,12/02/2021,Pepperfry,E-commerce,Multi-brand furniture brand,Mumbai,InnoVen Capital,Debt Financing,"4,773,958"
14,7,12/02/2021,Grofers,E-Commerce,Online supermarket,Gurgaon,SoftBank Vision Fund (SVF),Unspecified,"55,000,000"
15,8,09/02/2021,Nothing,Technology,Consumer Technology Venture,London,GV,Series A,"15,000,000"
16,9,09/02/2021,SplashLearn,EdTech,Game-based learning programme,Gurgaon,Owl Ventures,Series C,"18,000,000"
17,1,04/03/2021,DealShare,E-commerce,Online shopping platform,"Jaipur, Rajasthan",Innoven Capital,Debt Financing,"250,000,000"
18,2,31/03/2021,Uniphore,Technology,Conversational Service Automation (CSA),Palo Alto,Sorenson Capital Partners,Series D,"140,000,000"
19,3,30/03/2021,Dunzo,E-commerce,Hyper-local delivery app,Bengaluru,Krishtal Advisors Pte Ltd,Series E,"8,000,000"
20,4,30/03/2021,BYJU’S,Edu-tech,Online tutoring,Bengaluru,"MC Global Edtech, B Capital, Baron, others",Series F,"460,000,000"
21,5,23/03/2021,SkilloVilla,Edu-tech,Career and job-oriented upskilling.,Bengaluru,"Titan Capital, others",Seed,"300,000,000"
22,6,25/03/2021,CityMall,E-commerce,Social ecommerce and online grocery platform,Gurgaon,Accel Partners,Series A,"11,000,000"
23,7,26/03/2021,DotPe,FinTech,Commerce and payments platform to offline ente...,Gurgaon,PayU,Series A,"27,500,000"

7. Write a program to scrap all the available details of best gaming laptops from digit.in

In [536]:
driver = webdriver.Chrome("chromedriver.exe") #calling webdriver
driver.get('https://digit.in/')  #getting into website
driver.maximize_window() #Maximizing the window
driver.find_element_by_xpath("//div[@class='menu']/ul/li[4]").click() #clicking top 10
driver.find_element_by_xpath("//div[@class='categoty_list']/button[2]").click() #clicking on laptops
driver.find_element_by_xpath("//*[text()='Best Gaming Laptops in India']").click() #clicking on best gaming laptops
nm = []
pr = []
ds = []
os = []
me = []
gr = []
bd = []
ur = []
NM = driver.find_elements_by_xpath("//div[@class='specfpro_details_cont']/div/div/a")
for i in NM: #Scraping title data
    nm.append(i.text)
PR = driver.find_elements_by_xpath("//div[@class='Spcs-details']/table/tbody/tr[3]")
for i in PR:#Scraping processor data
    pr.append(i.text.split(': ')[1])
DS = driver.find_elements_by_xpath("//div[@class='Spcs-details']/table/tbody/tr[4]")
for i in DS:#Scraping display data
    ds.append(i.text.split(': ')[1])
OS = driver.find_elements_by_xpath("//div[@class='Spcs-details']/table/tbody/tr[5]")
for i in OS:#Scraping os data
    os.append(i.text.split(': ')[1])
ME = driver.find_elements_by_xpath("//div[@class='Spcs-details']/table/tbody/tr[6]")
for i in ME:#Scraping memory data
    me.append(i.text.split(': ')[1])
GR = driver.find_elements_by_xpath("//div[@class='Spcs-details']/table/tbody/tr[7]")
for i in GR:#Scraping graphics data
    gr.append(i.text.split(': ')[1])
BD = driver.find_elements_by_xpath("//div[@class='Spcs-details']/table/tbody/tr[8]")
for i in BD:#Scraping bosy weightand size data
    bd.append(i.text.split(': ')[1])
UR = driver.find_elements_by_xpath("//div[@class='specfpro_details_cont']/div/div/a")
for i in UR:#Scraping url data
    ur.append(i.get_attribute('href'))
data = pd.DataFrame({'Title':nm, 'Processor':pr, 'Display':ds, 'OS':os, 'Memory':me, 
                     'Graphics':gr, 'Body size/weight':bd, 'URL':ur }) #Creating a dataframe
driver.close() #closing the browser
data #Displaying the dataframe

,Title,Processor,Display,OS,Memory,Graphics,Body size/weight,URL
0,MSI Titan GT77-12UHS,12th Gen Intel Core i9-12900HX 16 core processor,"17.3″ (3840 x 2160) screen, 120 Hz refresh rate",Windows 11 Home,64 GB DDR5 RAM & 2 TB SSD,16 GB DDR6 NVIDIA GeForce RTX 3080 Ti Graphics...,397 x 330 x 23 mm dimension & 3.3 kg weight,https://www.digit.in/laptops/msi-titan-gt77-12...
1,Alienware X17 R2,12th Gen Intel Core i9-12900H 14 core processo...,"17.3″ (1920 x 1080) screen, 360 Hz refresh rate",Windows 11 Home,32 GB DDR5 RAM & 1 TB SSD,16 GB DDR6 NVIDIA GEFORCE RTX 3080 Ti Graphics...,299 x 359 x 21 mm dimension & 2.96 kg weight,https://www.digit.in/laptops/dell-new-alienwar...
2,Acer Predator Triton 500 SE PT516-52s,12th Gen Intel Core i7-12700H 14 core processo...,"16″ (2560 x 1600) screen, 240 Hz refresh rate",Windows 11 Home,32 GB DDR5 RAM & 2 TB SSD,8 GB DDR6 NVIDIA GeForce RTXTM 3070 Ti Graphic...,358 x 262 x 19.9 mm dimension & 2.4 kg weight,https://www.digit.in/laptops/acer-predator-tri...
3,Omen By HP (16-B1371TX),12th Gen Intel Core i7-12700H 14 core processo...,16.1″ (2560 x 1440) screen,Windows 11 Home,8 GB DDR5 RAM & 1 TB SSD,8 GB GDDR6 NVIDIA GeForce RTX 3070 Graphics card,369 x 248 x 23 mm dimension & 2.32 kg weight,https://www.digit.in/laptops/omen-by-hp-16-b13...
4,Acer Predator Helios 300 AN515-45 (NH.QBRSI.0,AMD Ryzen 9-5900HX 8 core processor,"15.6″ (2560 x 1440) screen, 165 Hz refresh rate",Windows 11 Home,16 GB DDR4 RAM & 512 GB SSD,8 GB DDR6 NVIDIA GeForce RTX 3070 Graphics card,363 x 255 x 23.9 mm dimension & 2.4 kg weight,https://www.digit.in/laptops/acer-nitro-5-an51...
5,MSI Delta 15 (A5EFK-083IN),AMD 5th Gen Ryzen 9-5900HX 8 core processor wi...,"15.6″ (1920 x 1080) screen, 240Hz refresh rate",Windows 11 Home,16 GB DDR4 RAM & 1 TB SSD,10 GB DDR6 AMD Radeon RX 6700M Graphics card,357 x 247 x 19 mm dimension & 1.9 kg weight,https://www.digit.in/laptops/msi-delta-15-5th-...
6,Omen By HP (16-C0141AX),AMD Ryzen™ 9 5900HX 8 core processor with 3.3 ...,16.1″ (2560 x 1440) screen,Windows 11 Home,16 GB DDR4 RAM & 1 TB NVMe,8 GB GDDR6 AMD Radeon™ RX 6600M Graphics card,36.92 x 24.8 x 2.3 mm dimension & 2.3 kg weight,https://www.digit.in/laptops/hp-omen-16-c0141a...
7,Lenovo Legion 5i Pro (82RF00MGIN),12th Gen Intel Core i7-12700H 14 core processo...,"16″ (2560 x 1600) screen, 165 Hz refresh rate",Windows 11 Home,16 GB DDR5 RAM & 1 TB SSD,6 GB DDR6 NVIDIA GeForce RTX 3060 Graphics card,360 x 264 x 20 mm dimension & 2.49 kg weight,https://www.digit.in/laptops/lenovo-legion-5-p...
8,Alienware M15 R5 Ryzen Edition Icc-C780001win,AMD Ryzen R7-5800H 8 core processor with 4.40 ...,"15.6″ (1920 x 1080) screen, 165Hz refresh rate",Windows 11 Home,16 GB DDR4 RAM & 512 GB SSD,6 GB DDR6 NVIDIA GeForce RTX 3060 Graphics card,356.2 x 272.5 x 22.85 mm dimension & 2.69 kg w...,https://www.digit.in/laptops/dell-alienware-m1...
9,Lenovo Slim 7 Gen 6 (82K8002JIN),Lenovo Ryzen 7-5800H processor with 3.2 GHz cl...,"15.6″ screen, 165 Hz refresh rate",Windows 11 Home,16 GB DDR4 RAM & 1 TB SSD,6 GB DDR6 NVIDIA GeForce 3060 Max-Q Graphics card,356 x 252 x 16 mm dimension & 1.9 kg weight,https://www.digit.in/laptops/lenovo-legion-s7-...

8. Write a python program to scrape the details for all billionaires from www.forbes.com. Details to be scrapped: “Rank”, “Name”, “Net worth”, “Age”, “Citizenship”, “Source”, “Industry”.

In [533]:
#For scraping 1st page data
driver = webdriver.Chrome("chromedriver.exe") #calling webdriver
driver.get('https://www.forbes.com')  #getting into website
time.sleep(5)
driver.maximize_window() #Maximizing the window
driver.find_element_by_xpath("//div[@class='header__left']").click() #clicking left header
time.sleep(5)
driver.find_element_by_xpath("//div[@class='mpBfVZz3']").click() #clicking billionaires
driver.find_element_by_xpath("//li[@class='TjJgrPSg _2bNo56RE secondary']").click() #clicking world billionaires
time.sleep(5)
rk = []
nm = []
nw = []
ag = []
ci = []
so = []
ir = []
RK = driver.find_elements_by_xpath("//div[@class='rank']")
for i in RK: #Scraping rank data
    rk.append(i.text)
NM = driver.find_elements_by_xpath("//div[@class='personName']")
for i in NM: #Scraping name data
    nm.append(i.text)
NW = driver.find_elements_by_xpath("//div[@class='netWorth']")
for i in NW: #Scraping net worth data
    nw.append(i.text)
AG = driver.find_elements_by_xpath("//div[@class='age']")
for i in AG: #Scraping age data
    ag.append(i.text)
CI = driver.find_elements_by_xpath("//div[@class='countryOfCitizenship']")
for i in CI: #Scraping country data
    ci.append(i.text)
SO = driver.find_elements_by_xpath("//div[@class='source']")
for i in SO: #Scraping source data
    so.append(i.text)
IR = driver.find_elements_by_xpath("//div[@class='category']")
for i in IR: #Scraping industry data
    ir.append(i.text)
data = pd.DataFrame({'Rank':rk, 'Name':nm, 'Age':ag, 'Country':ci, 'Source':so,'Industry':ir}) #Creating a dataframe
print('1st page data scraped successfully')
data.head()

1st page data scraped successfully

,Rank,Name,Age,Country,Source,Industry
0,1.,Elon Musk,50,United States,"Tesla, SpaceX",Automotive
1,2.,Jeff Bezos,58,United States,Amazon,Technology
2,3.,Bernard Arnault & family,73,France,LVMH,Fashion & Retail
3,4.,Bill Gates,66,United States,Microsoft,Technology
4,5.,Warren Buffett,91,United States,Berkshire Hathaway,Finance & Investments

In [534]:
#Lets scrape for multiple pages : 2nd page to last page
result = None
while result is None: #Hitting next page till the last page is reached
    try:
        driver.find_element_by_xpath("//button[@class='pagination-btn pagination-btn--next ']").click() #clicking next page
        pass
    except NoSuchElementException as e:
        print('Last page')
        break #Reached last page 
    RK = driver.find_elements_by_xpath("//div[@class='rank']")
    for i in RK: #Scraping rank data
        rk.append(i.text)
    NM = driver.find_elements_by_xpath("//div[@class='personName']")
    for i in NM: #Scraping name data
        nm.append(i.text)
    NW = driver.find_elements_by_xpath("//div[@class='netWorth']")
    for i in NW: #Scraping net worth data
        nw.append(i.text)
    AG = driver.find_elements_by_xpath("//div[@class='age']")
    for i in AG: #Scraping age data
        ag.append(i.text)
    CI = driver.find_elements_by_xpath("//div[@class='countryOfCitizenship']")
    for i in CI: #Scraping country data
        ci.append(i.text)
    SO = driver.find_elements_by_xpath("//div[@class='source']")
    for i in SO: #Scraping source data
        so.append(i.text)
    IR = driver.find_elements_by_xpath("//div[@class='category']")
    for i in IR: #Scraping industry data
        ir.append(i.text)

data = pd.DataFrame({'Rank':rk, 'Name':nm, 'Age':ag, 'Country':ci, 'Source':so,'Industry':ir}) #Creating a dataframe
print('All page data scraped successfully')
data.head()

Last page
All page data scraped successfully

,Rank,Name,Age,Country,Source,Industry
0,1.,Elon Musk,50,United States,"Tesla, SpaceX",Automotive
1,2.,Jeff Bezos,58,United States,Amazon,Technology
2,3.,Bernard Arnault & family,73,France,LVMH,Fashion & Retail
3,4.,Bill Gates,66,United States,Microsoft,Technology
4,5.,Warren Buffett,91,United States,Berkshire Hathaway,Finance & Investments

9. Write a program to extract at least 500 Comments, Comment upvote and time when comment was posted from any YouTube Video.

In [626]:
driver = webdriver.Chrome("chromedriver.exe") #calling webdriver
driver.get('https://www.youtube.com/watch?v=g6fnFALEseI') #getting into youtube url / video link
driver.maximize_window() #Maximizing the window
for _ in range(400): #Scroll down to generate more comments
    driver.execute_script("window.scrollBy(0,400)")
    time.sleep(0.1) #Giving browser time to load page and scrape dynamically
cm = []
up = []
tm = []
CM = driver.find_elements_by_xpath("//div[@id='comment-content']/ytd-expander/div/yt-formatted-string")
for i in CM: #Scraping comment content data
    cm.append(i.text)
UP = driver.find_elements_by_xpath("//*[contains(@aria-label,'Like this comment along with ')]")
for i in UP: #Scraping number of upvotes data
    up.append(i.get_attribute('aria-label').split('with ')[1].split(' other')[0])
TM = driver.find_elements_by_xpath("//div[@class='style-scope ytd-comment-renderer']/yt-formatted-string/a")
for i in TM: #Scraping time of comment data
    tm.append(i.text)
data = pd.DataFrame({'Comment':cm[0:500], 'No. of upvotes':up[0:500], 'Time of comment':tm[0:500]}) #Saving into data frame
print(data.shape) #Checing size of data
data #displaying dataframe

(500, 3)

,Comment,No. of upvotes,Time of comment
0,Arijit Singh is the legend of this generation....,121,1 month ago
1,"Music gives a soul to the universe, wings to t...",56,1 month ago
2,"If Hindi language was international, then Arij...",260,1 month ago
3,Nice song,2,1 day ago
4,This trio always gives masterpiece songs - Pri...,216,1 month ago
...,...,...,...
495,This is a great song that i have ever hear,1,3 weeks ago
496,,0,2 weeks ago
497,Current best future best and decade best song ...,7,1 month ago
498,Nice,0,13 days ago
499,I love this song ️ \nMy favourite song,3,10 days ago

10. Write a python program to scrape a data for all available Hostels from https://www.hostelworld.com/ in “London” location. You have to scrape hostel name, distance from city centre, ratings, total reviews, overall reviews, privates from price, dorms from price, facilities and property description.

In [ ]:
driver = webdriver.Chrome("chromedriver.exe") #calling webdriver
driver.get('https://www.hostelworld.com/') #getting into the website
driver.maximize_window() #Maximizing the window

In [ ]:
driver.find_element_by_xpath("//input[@id='search-input-field']").click()

In [ ]:
send_keys("London") #Entering input to search location